@{
    var routeName = ViewContext.ActionDescriptor.AttributeRouteInfo.Name;
    ViewData["Title"] = routeName;
}

<div class="inner-header inner-header-projects">
    <h1>La creatività fuori dall'orario di lavoro</h1>
    <h3>@routeName</h3>
</div>
