@{
    var routeName = ViewContext.ActionDescriptor.AttributeRouteInfo.Name;
    ViewData["Title"] = routeName;
}

<div class="inner-header inner-header-projects">
    <h1>La creatività fuori dall'orario di lavoro</h1>
    <h3>@routeName</h3>
</div>

<section class="breadcrumbs-section">
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li>Piccoli progetti</li>
    </ul>
</section>

<section class="article-section small-article-section">
    <h2>Boolli</h2>
    <div class="header-with-image">
        <img class="project-logo left-image" src="~/images/logos/logo-boolli.png" alt="Il logo dell'applicazione Boolli" asp-append-version="true" />
        <h3>L'interprete di espressioni booleane in C# che ti permette di implementare <b>sistemi di regole avanzati</b></h3>
    </div>
    <a asp-controller="TinyProjects" asp-action="Boolli" class="little-contact-button">Approfondisci <i class="icon-right-circled"></i></a>
</section>

<section class="article-section small-article-section sub-section">
    <h2>SmartScale 3000</h2>
    <div class="header-with-image">
        <img class="project-logo left-image" src="~/images/logos/logo-smartscale.png" alt="Il logo dell'applicazione SmartScale3000" asp-append-version="true" />
        <h3>La bilancia intelligente, powered by AI e vincitrice dell'iSolutions Hackaton 2020</h3>
    </div>
    <a asp-controller="TinyProjects" asp-action="SmartScale" class="little-contact-button little-contact-button-inverted">Approfondisci <i class="icon-right-circled"></i></a>
</section>

<section class="article-section small-article-section">
    <h2>Starfall</h2>
    <div class="header-with-image">
        <img class="project-logo left-image" src="~/images/logos/logo-starfall.png" alt="Il logo del videogioco Starfall" asp-append-version="true" />
        <h3>Sei una stella caduta sulla Terra. Ti ritrovi in una foresta oscura, in cerca della luce per tornare a casa...</h3>
    </div>
    <a asp-controller="TinyProjects" asp-action="Starfall" class="little-contact-button">Approfondisci <i class="icon-right-circled"></i></a>
</section>

<section class="article-section small-article-section sub-section">
    <h2>RestartOnCrash</h2>
    <div class="header-with-image">
        <img class="project-logo left-image" src="~/images/logos/logo-restart-on-crash.png" alt="Il logo dell'applicazione RestartOnCrash" asp-append-version="true" />
        <h3>La tua applicazione crasha ed hai bisogno di una <i>remediation</i> alla velocità della luce. <b>Riavviala in automatico!</b></h3>
    </div>
    <a asp-controller="TinyProjects" asp-action="RestartOnCrash" class="little-contact-button little-contact-button-inverted">Approfondisci <i class="icon-right-circled"></i></a>
</section>

<section class="article-section small-article-section">
    <h2>INFART</h2>
    <div class="header-with-image">
        <img class="project-logo left-image" src="~/images/logos/logo-infart.png" alt="Il logo dell'applicazione INFART" asp-append-version="true" />
        <h3>Una lotta contro il tempo per salvare la vivibilità della Terra tramite l'alimentazione. <b>Ognuno di noi può farlo!</b></h3>
    </div>
    <a asp-controller="TinyProjects" asp-action="INFART" class="little-contact-button">Approfondisci <i class="icon-right-circled"></i></a>
</section>

<partial name="_ContactSection" />
