<section class="article-section grey-section">
    <h2 class="contact-title">Vuoi discutere <br /> di un progetto con me?</h2>
    <a asp-controller="Home" asp-action="Contacts" class="action-button">Scrivimi due righe!</a>
</section>
