<section class="grey-section">
    <h4>Contattami</h4>
    <h1>Vuoi discutere <br /> di un progetto con me?</h1>
    <a asp-controller="Home" asp-action="Contacts" class="action-button">Scrivimi due righe!</a>
</section>
