<section class="grey-section">
    <div class="section-content centered-section-content">
        <h2 class="contact-title">Vuoi discutere <br /> di un progetto con me?</h2>
        <a asp-controller="Home" asp-action="Contacts" class="action-button button-top-margin">Scrivimi due righe!</a>
    </div>
</section>
