<!DOCTYPE html>

<html lang="it">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ImagineSoftwareWebsite</title>

    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/menu.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <header>

        <nav>
            <div class="outer-menu">

                <input class="checkbox-toggle" type="checkbox" />

                <div class="hamburger">
                    <div></div>
                </div>

                <div class="menu">
                    <div>
                        <div>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Products</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </nav>

    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        &copy; 2021 - ImagineSoftwareWebsite
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>
