@model StatusCodeErrorViewModel
@{
    ViewData["Title"] = "Errore";
}

<h1>@Model.ErrorDescription</h1>

<a class="action-button action-button-inverted" href="/" alt="Un link per tornare alla homepage di Imagine Software" title="Ritorna all'homepage di Imagine Software">Torna alla pagina principale</a>

<article class="bottom-space">
    <a href="/" alt="Un link per andare alla Sitemap di Imagine Software" title="Dai un'occhiata alla Sitemap per orientarti meglio">O dai un'occhiata alla sitemap</a>
</article>
