@model StatusCodeErrorViewModel
@{
    ViewData["Title"] = "Errore";
    ViewData["Main-Custom-Class"] = "status-code-error";
}

<h1 class="status-code-error-title">@Model.ErrorDescription</h1>

<article class="bottom-space">

    <div class="image-paragraph">

        <img src="~/images/other/Morpheus-Blue-Pill-Red-Pill.jpg" asp-append-version="true" alt="Un'immagine di Morpheus da Matrix che propone la pillola blu o la pillola rossa" />

        <div class="morpheus-buttons">
            <a class="morpheus-red-pill" asp-controller="Home" asp-action="Sitemap" title="Dai un'occhiata alla Sitemap per orientarti meglio">Dai un'occhiata alla sitemap</a>

            <a class="morpheus-blue-pill" href="/" title="Ritorna all'homepage di Imagine Software">O torna alla pagina principale</a>
        </div>

    </div>

</section>
