---
layout: skeleton
permalink: /
metaTitle: Design, sviluppo, integrazione di software e App
metaDescription: 'Imagine Software: design, sviluppo, integrazione di software e App. Rendo le tue idee realtà, accresco il valore del tuo team di sviluppo.'
subtitle: "Una buona idea decolla con un'esecuzione perfetta"
---

<section class="homepage-section">
    <div class="homepage-header">
        <h1>{{ page.metaTitle }}</h1>
        <hr class="menu-separator" />
        <h2>{{ page.subtitle }}</h2>
    </div>

    <div class="section-content-landing">
        <div class="shortcuts-list">
            <ul class="shortcuts-list-home">
                {% for headerBox in site.homePageHeaderBoxes %}
                <li>
                    <div class="shortcuts-list-title-container">
                        <img
                            src="{{ site.url }}/assets/images/other/{{ headerBox.imageName }}"
                            alt="{{ headerBox.imageAlt }}"
                        />
                    </div>

                    {{ headerBox.content | markdownify }}
                    <a href="{{ headerBox.link }}" class="action-button-secondary">Approfondisci</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<section class="grey-section">
    <div class="fullscreen-section-content centered-section-content">
        <h3 class="contact-title">VUOI PARLARE DEL TUO PROGETTO CON ME?</h3>
        <a href="/contacts" class="action-button button-top-margin">CONTATTAMI</a>
    </div>
</section>

<section class="alt-section">
    <div class="fullscreen-section-content">
        <h3>LE PRINCIPALI TECNOLOGIE CON CUI LAVORO</h3>

        <div class="logo-gallery technologies-logos">
            {% for item in site.data.technologies %}
            <div class="logo-gallery-block">
                <a title="{{ item.linkTitle }}" href="{{ item.link }}" target="_blank" rel="noopener">
                    <div>
                        <img src="{{ site.url }}/assets/images/logos/{{ item.logoName }}" alt="{{ item.logoAlt}}" />
                    </div>
                    <span class="logo-gallery-name">{{ item.name }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% for homePageSection in site.homePageSections %}

<section class="{{ homePageSection.sectionClassName }}">
    <div class="fullscreen-section-content">
        <h3>{{ homePageSection.title }}</h3>
        <h4>{{ homePageSection.subtitle }}</h4>
        <div class="section-separator"></div>

        {% if homePageSection.imageName and homePageSection.imageName != '' %}
        <img
            class="intermediate-article-image vertical-image-medium left-image show-on-scroll rounded-logo"
            src="{{ site.url }}/assets/images/other/{{ homePageSection.imageName }}"
            alt="{{ homePageSection.imageAlt }}"
        />
        {% endif %} {{ homePageSection.content | markdownify }}

        <br />

        <a href="{{ site.url }}/{{ homePageSection.callToActionDestinationPageName }}" class="action-button"
            >{{ homePageSection.callToActionText }}</a
        >
    </div>
</section>
{% endfor %}

<section class="alt-section">
    <div class="fullscreen-section-content">
        <h3>HO COLLABORATO CON</h3>

        <div class="logo-gallery technologies-logos">
            {% for item in site.data.customers %}
            <div class="logo-gallery-block">
                <a title="{{ item.linkTitle }}" href="{{ item.link }}" target="_blank" rel="noopener">
                    <div>
                        <img src="{{ site.url }}/assets/images/logos/{{ item.logoName }}" alt="{{ item.logoAlt }}" />
                    </div>
                    <span class="logo-gallery-name">{{ item.name }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
