/** Questa suddivisione (buttons è fallimentare, rivederle tutte */

footer a, footer i {
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--text-over-background-dark);
}

footer a:hover {
    text-decoration: underline;
}

footer i {
    text-decoration: none;
    color: var(--text-over-background-dark);
}

footer span {
    color: var(--text-over-background-dark);
}

.footer-link-contact > a, .footer-link-contact > i {
    color: var(--primary-color) !important;
}

.action-button {
    background-color: white;
    padding: 1.2rem 1.5rem;
    color: var(--background-dark-color);
    border-radius: 40px;
    text-decoration: none;
    margin: 1rem;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.action-button-with-border {
    border: 1px solid var(--background-dark-color);
}

.action-button:hover {
    background-color: var(--primary-color);
    color: black;
    padding-left: 3rem;
    padding-right: 3rem;
    transition: all 0.3s ease;
}

.action-button-inverted {
    background-color: var(--background-dark-color);
    color: white;
}

    .action-button-inverted:hover {
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
        color: black;
    }


/** Pagina 404 */
.morpheus-buttons {
    /** Potrei usare lo zoom per il responsive qui */
}

.morpheus-blue-pill, .morpheus-red-pill {
    padding: 0.5rem 1rem;
    border-radius: 40px;
    text-decoration: none;
    font-size: 1.2rem;
    width: 18rem;
    text-align: center;
    margin-top: -132px;
}

.morpheus-blue-pill {
    float: right;
    background-color: #0469bb;
    color: white;
    border: none;
    margin-left: 1rem;
}

    .morpheus-blue-pill:hover {
        background-color: #2ea5e2;
        color: white;
        border: none;
    }

.morpheus-red-pill {
    float: left;
    background-color: #c3271c;
    color: white;
    border: none;
    margin-right: 1rem;
}

    .morpheus-red-pill:hover {
        background-color: #e72721;
        color: white;
        border: none;
    }

.little-contact-button {
    display: inline-block;
    background-color: white;
    padding: 0.3rem 0.9rem;
    color: var(--background-dark-color);
    border-radius: 40px;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    border-bottom: none;
    border: 1px solid var(--background-dark-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

    .little-contact-button:hover {
        background-color: var(--primary-color);
        color: var(--background-dark-color);
        border: 1px solid var(--primary-color);
        transition: all 0.3s ease;
    }

    .little-contact-button > i {
        margin-left: 0;
        transition: all 0.3s ease;
    }

    .little-contact-button:hover > i {
        margin-left: 1rem;
        transition: all 0.3s ease;
    }

.little-contact-button-inverted {
    background-color: var(--background-dark-color);
    color: white;
    border: 1px solid white;
}

    .little-contact-button-inverted:hover {
        background-color: var(--primary-color);
        color: var(--background-dark-color);
    }

/** Back to top */
.back-to-top-button {
    opacity: 0;
    bottom: 20px;
    position: fixed;
    right: 18px;
    z-index: -99;
    background-color: transparent;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
    border: none;
}

    .back-to-top-button:hover {
        opacity: 1;
        transition: all 0.2s ease;
        color: var(--primary-color);
    }

.back-to-top-button-visible {
    z-index: 99;
    opacity: 0.5;
    transition: all 0.5s ease;
}
