/** TODO Questa suddivisione (buttons è fallimentare, rivederle tutte */
a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

footer a, footer i {
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--text-over-background-dark);
}

    footer a:hover {
        text-decoration: underline;
        color: var(--primary-color);
    }

footer i {
    text-decoration: none;
    color: var(--text-over-background-dark);
}

footer span {
    color: var(--text-over-background-dark);
}

.footer-link-contact > a, .footer-link-contact > i {
    color: var(--primary-color) !important;
}

.action-button, .action-button-secondary {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-weight: 900;
    border-radius: 100rem;
    text-decoration: none;
    margin: 1rem 0;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.action-button {
    background-color: var(--primary-color);
    color: var(--background-dark-color);
}

    .action-button:hover {
        background-color: var(--primary-color-light);
        text-decoration: none;
    }

.action-button-secondary {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

    .action-button-secondary:hover {
        background-color: white;
        text-decoration: none;
    }

.link-icon {
    color: var(--background-dark-color);
}

.action-button i {
    color: #1a294b;
}

/** Pagina 404 */
.morpheus-buttons {
    /** Potrei usare lo zoom per il responsive qui */
}

.morpheus-blue-pill, .morpheus-red-pill {
    padding: 0.5rem 1rem;
    border-radius: 40px;
    text-decoration: none;
    font-size: 1.2rem;
    width: 18rem;
    text-align: center;
    margin-top: -132px;
}

.morpheus-blue-pill {
    float: right;
    background-color: #0469bb;
    color: white;
    border: none;
    margin-left: 1rem;
}

    .morpheus-blue-pill:hover {
        background-color: #2ea5e2;
        color: white;
        border: none;
    }

.morpheus-red-pill {
    float: left;
    background-color: #c3271c;
    color: white;
    border: none;
    margin-right: 1rem;
}

    .morpheus-red-pill:hover {
        background-color: #e72721;
        color: white;
        border: none;
    }

/** Back to top */
.back-to-top-button {
    opacity: 0;
    bottom: 20px;
    position: fixed;
    right: 18px;
    z-index: -99;
    background-color: transparent;
    font-size: 3rem;
    color: #808080;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
    border: none;
}

    .back-to-top-button:hover {
        opacity: 1;
        transition: all 0.2s ease;
        color: var(--primary-color);
    }

.back-to-top-button-visible {
    z-index: 99;
    opacity: 0.5;
    transition: all 0.5s ease;
}
