.little-contact-button-footer {
    text-decoration: none !important;
    display: inline-block;
    background-color: var(--background-dark-color-lighter);
    padding: 0.2rem 0.6rem;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 0.5rem;
    border-bottom: none;
    border: 1px solid white;
    transition: all 0.3s ease;
}

    .little-contact-button-footer:hover {
        background-color: var(--primary-color);
        color: var(--background-dark-color-lighter);
        border: 1px solid var(--primary-color);
        transition: all 0.3s ease;
    }

.action-button {
    background-color: white;
    padding: 1.2rem 1.5rem;
    color: var(--background-dark-color);
    border-radius: 40px;
    text-decoration: none;
    margin: 1rem;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.action-button-with-border {
    border: 1px solid var(--background-dark-color);
}

.action-button:hover {
    background-color: var(--background-dark-color);
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    transition: all 0.3s ease;
}

.action-button-inverted {
    background-color: var(--background-dark-color);
    color: white;
}

    .action-button-inverted:hover {
        border: 1px solid var(--background-dark-color);
        background-color: white;
        color: black;
    }


/** Morpheus */
.morpheus-buttons {
    /** Potrei usare lo zoom per il responsive qui */
}

.morpheus-blue-pill, .morpheus-red-pill {
    padding: 0.5rem 1rem;
    border-radius: 40px;
    text-decoration: none;
    font-size: 1.2rem;
    width: 18rem;
    text-align: center;
    margin-top: -132px;
}

.morpheus-blue-pill {
    float: right;
    background-color: #0469bb;
    color: white;
    border: none;
    margin-left: 1rem;
}

    .morpheus-blue-pill:hover {
        background-color: #2ea5e2;
        color: white;
        border: none;
    }

.morpheus-red-pill {
    float: left;
    background-color: #c3271c;
    color: white;
    border: none;
    margin-right: 1rem;
}

    .morpheus-red-pill:hover {
        background-color: #e72721;
        color: white;
        border: none;
    }


.little-contact-button {
    display: inline-block;
    background-color: white;
    padding: 0.3rem 0.9rem;
    color: var(--background-dark-color);
    border-radius: 40px;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    border-bottom: none;
    border: 1px solid var(--background-dark-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

    .little-contact-button:hover {
        background-color: var(--background-dark-color);
        color: white;
        border: 1px solid white;
        transition: all 0.3s ease;
    }

    .little-contact-button > i {
        margin-left: 0;
        transition: all 0.3s ease;
    }

    .little-contact-button:hover > i {
        margin-left: 1rem;
        transition: all 0.3s ease;
    }

.little-contact-button-inverted {
    background-color: var(--background-dark-color);
    color: white;
    border: 1px solid white;
}

    .little-contact-button-inverted:hover {
        background-color: white;
        color: var(--background-dark-color);
    }

.back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: var(--background-dark-color);
    padding: 0.5rem;
    font-size: 2rem;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    opacity: 0.5;
    transition: all 0.3s ease;
    border: none;
}

    .back-to-top-button:hover {
        opacity: 1;
        transition: all 0.3s ease;
        color: var(--primary-color);
    }
