:root {
    --primary-color: #ffca1f;
    --primary-color-light: #fecf38;
    --text-color-over-primary-light: #60605f;
    --text-color-over-primary: black;
    --background-dark-color: #202125;
    --background-dark-color-lighter: #29292c;
    --text-over-background-dark: #c5c5c5;
    --success-color: #4BB543;
    --error-color: #dc1414;
    --loader-color: #ff8200;
    --page-width: 50rem;
    --header-height: 4rem;
    --very-light-background: #f5f2f7;
}

html {
    /* Per rem */
    font-size: 17px;
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
}

/* Font
-------------------------------------------------- */
* {
    font-family: 'Source Sans Pro', sans-serif !important;
}

b {
    font-weight: 900;
}

/** Reset */
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
hr {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

*:focus {
    outline: none;
}