.link-icon {
    border: none;
    display: inline-block;
}

.link-icon-github:hover > i {
    color: #e84e31;
}

.link-icon-linkedin:hover > i {
    color: #0a66c2;
}

.icon-linkedin, .icon-github {
    font-family: "imagine-software-icons";
    display: inline-block;
    font-size: 1.8rem;
    margin: 0.5rem;
}

.icon-small-for-footer {
    font-size: 1rem;
    margin: 0;
}

.icon-email, .icon-telegram {
    margin-right: 2px;
}
