.link-icon {
    border: none;
    display: inline-block;
}

.link-icon-github:hover > i {
    color: #464646;
}

.link-icon-linkedin:hover > i {
    color: #0a66c2;
}

.link-icon-stackoverflow:hover > i {
    color: #f48024;
}

.icon-linkedin, .icon-github {
    display: inline-block;
    font-size: 1.8rem;
    margin: 0.5rem;
}

.link-icon-stackoverflow {
    display: inline-block;
    font-size: 1.6rem;
    margin: 0.5rem;
}

.icon-small-for-footer {
    font-size: 1rem;
    margin: 0;
}

.icon-email, .icon-telegram {
    margin-right: 2px;
}

