@font-face {
    font-family: 'imagine-software-icons';
    src: url('../fonts/imagine-software-icons.eot?28432538');
    src: url('../fonts/imagine-software-icons.eot?28432538#iefix') format('embedded-opentype'), url('../fonts/imagine-software-icons.woff2?28432538') format('woff2'), url('../fonts/imagine-software-icons.woff?28432538') format('woff'), url('../fonts/imagine-software-icons.ttf?28432538') format('truetype'), url('../fonts/imagine-software-icons.svg?28432538#imagine-software-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'imagine-software-icons';
    src: url('../font/imagine-software-icons.svg?28432538#imagine-software-icons') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "imagine-software-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-email:before {
    content: '\e800';
}

.icon-telegram:before {
    content: '\e801';
}

.icon-github:before {
    content: '\f09b';
}

.icon-right:before {
    content: '\e802';
}

.icon-linkedin:before {
    content: '\f30c';
}

.icon-up:before {
    content: '\e803';
}

.icon-windows:before {
    content: '\f17a';
}

.icon-android:before {
    content: '\f17b';
}

.icon-stackoverflow:before {
    content: '\f16c';
}

.icon-search:before {
    content: '\e804';
}
