@font-face {
    font-family: 'imagine-software-icons';
    src: url('./font/imagine-software-icons.eot?15813772');
    src: url('./font/imagine-software-icons.eot?15813772#iefix') format('embedded-opentype'), url('./font/imagine-software-icons.woff?15813772') format('woff'), url('./font/imagine-software-icons.ttf?15813772') format('truetype'), url('./font/imagine-software-icons.svg?15813772#imagine-software-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.link-icon {
    border: none;
    display: inline-block;
}

.link-icon-github:hover > i {
    color: #e84e31;
}

.link-icon-linkedin:hover > i {
    color: #0a66c2;
}

.icon-linkedin, .icon-github {
    font-family: "imagine-software-icons";
    display: inline-block;
    font-size: 1.8rem;
    margin: 0.5rem;
}
