#overlay-menu-button {
    position: absolute;
    right: 2em;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
}

    #overlay-menu-button span {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: var(--text-color-over-primary-light);
        position: relative;
        display: block;
        transition: transform 0.2s ease-in-out;
    }

        #overlay-menu-button span:before {
            top: -10px;
            visibility: visible;
        }

        #overlay-menu-button span:after {
            top: 10px;
        }

        #overlay-menu-button span:before, #overlay-menu-button span:after {
            height: 4px;
            width: 35px;
            border-radius: 2px;
            background-color: var(--text-color-over-primary-light);
            position: absolute;
            content: "";
            transition: transform 0.2s ease-in-out;
        }

    #overlay-menu-button:hover span, #overlay-menu-button:hover span:before, #overlay-menu-button:hover span:after {
        background: var(--text-color-over-primary);
    }

input[type=checkbox] {
    display: none;
}

    input[type=checkbox]:checked ~ #overlay-menu {
        /* Fadein menu animation */
        opacity: 1;
    }

        input[type=checkbox]:checked ~ #overlay-menu ul {
            /* Bottom to top menu animation */
            margin-top: 0;
        }

    input[type=checkbox]:checked ~ #overlay-menu-button:hover span, input[type=checkbox]:checked ~ #overlay-menu-button span {
        background: transparent;
    }

        input[type=checkbox]:checked ~ #overlay-menu-button span:before {
            transform: rotate(45deg) translate(7px, 7px);
            opacity: 1;
        }

        input[type=checkbox]:checked ~ #overlay-menu-button span:after {
            transform: rotate(-45deg) translate(7px, -7px);
        }

#overlay-menu {
    height: 100vh;
    width: 100vw;
    background: var(--primary-color);
    z-index: 2;
    opacity: 0;
    position: fixed;
    top: 0;

    /* Fadein menu animation */
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

    #overlay-menu.active {
        visibility: visible;
    }

    #overlay-menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100vh;
        padding-left: 0;
        list-style-type: none;
        /* Bottom to top menu animation */
        margin-top: 50px;
        -webkit-transition: margin 0.3s ease;
        transition: margin 0.3s ease;
    }

        #overlay-menu ul li {
            padding: 1em;
        }

            #overlay-menu ul li a {
                color: var(--text-color-over-primary-light);
                text-decoration: none;
                font-size: 1.5em;
            }

                #overlay-menu ul li a:hover {
                    color: var(--text-color-over-primary);
                }
