#overlay-button {
    position: absolute;
    right: 2em;
    top: 3em;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
}

    #overlay-button span {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: var(--text-color-over-primary-light);
        position: relative;
        display: block;
        transition: transform 0.2s ease-in-out;
    }

        #overlay-button span:before {
            top: -10px;
            visibility: visible;
        }

        #overlay-button span:after {
            top: 10px;
        }

        #overlay-button span:before, #overlay-button span:after {
            height: 4px;
            width: 35px;
            border-radius: 2px;
            background-color: var(--text-color-over-primary-light);
            position: absolute;
            content: "";
            transition: transform 0.2s ease-in-out;
        }

    #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
        background: var(--text-color-over-primary);
    }

input[type=checkbox] {
    display: none;
}

    input[type=checkbox]:checked ~ #overlay {
        visibility: visible;
    }

    input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
        background: transparent;
    }

        input[type=checkbox]:checked ~ #overlay-button span:before {
            transform: rotate(45deg) translate(7px, 7px);
            opacity: 1;
        }

        input[type=checkbox]:checked ~ #overlay-button span:after {
            transform: rotate(-45deg) translate(7px, -7px);
        }

#overlay {
    height: 100vh;
    width: 100vw;
    background: var(--primary-color);
    z-index: 2;
    visibility: hidden;
    position: fixed;
}

    #overlay.active {
        visibility: visible;
    }

    #overlay ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100vh;
        padding-left: 0;
        list-style-type: none;
    }

        #overlay ul li {
            padding: 1em;
        }

            #overlay ul li a {
                color: var(--text-color-over-primary-light);
                text-decoration: none;
                font-size: 1.5em;
            }

                #overlay ul li a:hover {
                    color: var(--text-color-over-primary);
                }
