*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
p, 
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
hr {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

*:focus {
    outline: none;
}