@media only screen and (max-width: 1200px) {
    .bottom-menu-section {
        flex-direction: column;
        align-items: center;
    }

        .bottom-menu-section > * {
            margin: 0;
        }

    .footer-section-title {
        margin-top: 2rem;
    }

    .bottom-menu-section div {
        width: 210px;
    }

}


@media only screen and (max-width: 768px) {

    html {
        /* Per rem */
        font-size: 15px;
    }


    .morpheus-buttons {
        transform: scale(0.8);
    }

    .sitemap-section {
        flex-wrap: wrap;
        justify-content: start;
    }

    .space-for-article-without-subtitle {
        height: 1.2rem;
    }

    #overlay-menu ul li a {
        font-size: 1.5rem;
        color: white;
    }

    .intermediate-article-image {
        float: none;
        display: block;
    }

    .inner-header, .section-content, .section-content-landing {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .shortcuts-list ul {
        display: flex;
        flex-direction: column;
    }

    .shortcuts-list li {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .action-button-behind {
        opacity: 1;
        align-self: center;
    }

    
    .section-content h2, .section-content h3, .section-content-landing h2, .section-content h3 {
        text-align: center;
    }

    .section-content, .section-content-landing {
        display: flex;
        flex-direction: column;
    }

        .section-content > a {
            align-self: center;
        }

    .shortcuts-list-title-container {
        align-self: center;
    }

    #overlay-menu ul li {
        text-align: center;
    }

    .breadcrumbs-section {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header-with-image {
        flex-direction: column;
        padding-bottom: 0;
    }

        .header-with-image h3 {
            margin-top: 2rem;
            margin-bottom: 0 !important;
            margin-right: 1rem;
            margin-left: 1rem;
        }


    .left-image {
        margin-right: 0;
        align-self: center;
    }

    .right-image {
        margin-left: 0;
        align-self: center;
    }

    .section-content, .section-content-landing {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .sitemap-group {
        width: 80%;
        margin: 1rem 0rem;
        padding-left: 1rem;
        padding-right: 1rem;
        align-self: center;
    }

    .store-download-buttons-group {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

        .store-download-buttons-group > a {
            margin: 0.5rem 0;
            width: 100%;
        }

    .image-paragraph img {
        max-width: 450px;
    }

    .section-content h3, .section-content-landing h3 {
        padding-bottom: 0;
    }

    .article-image-gallery img {
        margin-top: 1rem;
    }

    .contact-form {
        padding: 1rem;
    }

    #error-content, #success-content {
        width: 95%;
    }

    .form-two-columns {
        flex-direction: column;
    }

    .form-two-columns-column {
        width: 100%;
        margin-bottom: 1rem;
    }

    #btnContactSubmit {
        width: 80%;
        align-self: center;
        text-align: center;
    }

    h1 {
        font-size: 2rem;
        line-height: 3rem;
    }

    h2 {
        font-size: 1.7rem;
        text-align: left;
    }

    h3 {
        font-size: 1.1rem;
    }

    .homepage-header {
        padding: 1rem;
    }

    .homepage-header h3 {
        text-align: center;
    }

    h4 {
        font-size: 0.8rem;
    }

    .contact-title {
        font-size: 2.3rem;
        line-height: 3rem;
    }

    .inner-header > h3 {
        text-align: center;
    }

    .action-button,
    .action-button-secondary,
    .action-button-secondary {
        text-align: center;
    }

    .last-footer-section {
        padding: 3rem 0.8rem;
    }

    footer p:nth-child(2) {
        font-size: 0.8rem;
    }

    .section-content h3, .section-content-landing h3 {
        margin-bottom: 2rem;
    }

    .header-content img {
        margin-left: 0.5rem;
        max-height: 50px;
    }

    #overlay-menu-button {
        right: 0;
        top: 1.2rem;
        padding: 16px 11px;
    }

    #overlay-menu-text {
        font-size: 0.8rem;
    }

    #overlay-menu-button span, #overlay-menu-button span:before,
    #overlay-menu-button span:after {
        height: 3px;
    }

        #overlay-menu-button span:before {
            top: -8px;
        }

        #overlay-menu-button span:after {
            top: 8px;
        }

    .header-separator {
        align-self: center;
        margin-top: 0;
    }

    .logo-gallery-collaborations > div {
        width: auto;
    }

    .logo-gallery {
        justify-content: space-around;
    }

        .logo-gallery img {
            max-width: 150px;
            max-height: 150px;
        }

    .section-content .action-button, .section-content .action-button-behind, .section-content .action-button-secondary,
    .section-content-landing .action-button, .section-content-landing .action-button-behind, .section-content-landing .action-button-secondary {
        margin-top: 2rem;
    }

    .shortcuts-list li p {
        margin-bottom: 0;
    }
}
