@media only screen and (max-width: 768px) {
    
    .sitemap-section {
        flex-wrap: wrap;
        justify-content: start;
    }

    #overlay-menu ul li a {
        font-size: 1.5rem;
    }

}

