/*#region Global*/

:root {
    --primary-color: #25cae0;
    --background-dark-color: #303d54;
    --background-dark-color-lighter: #535f77;
    --text-over-background-dark: #c5c5c5;
    --success-color: #26dbc1;
    --error-color: #dc1414;
    --loader-color: #25cae0;
    --page-width: 50rem;
    --header-height: 6rem;
    --gradient-first-color: #ffe30a;
    --gradient-second-color: #28f09b;
    --gradient-third-color: #25cae0;
    --another-logo-color: #42f2b2;
    --deactivated-color: #596476;
    --alt-color: #f3f4f7;
    --logo-and-hamburger-horizontal-margin: 3rem;
}

html {
    /* Per rem */
    font-size: 17px;
    scroll-behavior: smooth;
}

body {
    background-color: white;
}


/* Font
-------------------------------------------------- */

* {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

p {
    line-height: 1.6rem !important;
    font-weight: 300;
}

b {
    font-weight: 700;
}


/** Reset */

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
hr {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

*:focus {
    outline: none;
}


/*#endregion*/


/*#region Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--background-dark-color);
    color: var(--primary-color);
    z-index: 2;
}

.header-content {
    display: flex;
    align-self: center;
    margin: 0 auto;
    height: var(--header-height);
    align-items: center;
}

    .header-content img {
        margin-left: var(--logo-and-hamburger-horizontal-margin);
    }

/*#endregion*/


/*#region Hamburger Menu */

#overlay-menu-button {
    position: fixed;
    right: var(--logo-and-hamburger-horizontal-margin);
    top: 1.4rem;
    padding: 16px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

#overlay-menu-text {
    color: var(--primary-color);
    font-style: normal;
    margin-right: 0.5rem;
}

    #overlay-menu-text:after {
        content: 'Menu';
    }

#overlay-menu-button span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: var(--primary-color);
    position: relative;
    display: block;
    transition: transform 0.2s ease-in;
}

    #overlay-menu-button span:before {
        top: -10px;
        visibility: visible;
    }

    #overlay-menu-button span:after {
        top: 10px;
    }

    #overlay-menu-button span:before,
    #overlay-menu-button span:after {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: var(--primary-color);
        position: absolute;
        content: "";
        transition: transform 0.2s ease-in;
    }

#overlay-menu-button:hover span,
#overlay-menu-button:hover span:before,
#overlay-menu-button:hover span:after {
    background: linear-gradient(to right, var(--gradient-first-color) 0%, var(--gradient-second-color) 51%, var(--gradient-third-color) 100%);
}

#overlay-menu-button:hover em {
    background-image: linear-gradient(to right, var(--gradient-first-color) 0%, var(--gradient-second-color) 51%, var(--gradient-third-color) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#overlay-menu-input {
    display: none;
}

    #overlay-menu-input:checked ~ #overlay-menu {
        height: 100vh;
        visibility: visible;
        transition: all 0.2s cubic-bezier(.18,.4,.56,.83);
    }

    #overlay-menu-input:checked ~ #overlay-menu-button em:after {
        content: 'Chiudi';
    }

    #overlay-menu-input:checked ~ #overlay-menu ul li {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.4s cubic-bezier(.18,.4,.56,.83);
    }

        #overlay-menu-input:checked ~ #overlay-menu ul li:nth-child(1) {
            transition-delay: 0.3s;
        }

        #overlay-menu-input:checked ~ #overlay-menu ul li:nth-child(2) {
            transition-delay: 0.35s;
        }

        #overlay-menu-input:checked ~ #overlay-menu ul li:nth-child(3) {
            transition-delay: 0.40s;
        }

        #overlay-menu-input:checked ~ #overlay-menu ul li:nth-child(4) {
            transition-delay: 0.45s;
        }

        #overlay-menu-input:checked ~ #overlay-menu ul li:nth-child(5) {
            transition-delay: 0.50s;
        }

        #overlay-menu-input:checked ~ #overlay-menu ul li:nth-child(6) {
            transition-delay: 0.55s;
        }

    #overlay-menu-input:checked ~ #overlay-menu-button:hover span,
    #overlay-menu-input:checked ~ #overlay-menu-button span {
        background: transparent;
    }

        #overlay-menu-input:checked ~ #overlay-menu-button span:before {
            transform: rotate(45deg) translate(7px, 7px);
            opacity: 1;
        }

        #overlay-menu-input:checked ~ #overlay-menu-button span:after {
            transform: rotate(-45deg) translate(7px, -7px);
        }

#overlay-menu {
    height: 0vh;
    width: 100vw;
    background: var(--background-dark-color);
    z-index: 2;
    visibility: hidden;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;
}

    #overlay-menu.active {
        visibility: visible;
    }

    #overlay-menu ul {
        text-align: center;
        padding-left: 0;
        list-style-type: none;
    }

        #overlay-menu ul li {
            padding: 1em;
            width: 560px;
            text-align: center;
            transform: translateY(25px);
            opacity: 0;
            transition: all 0.3s ease-out;
        }

            #overlay-menu ul li a {
                color: var(--deactivated-color);
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 900;
                font-size: 1.8rem;
                transition: all 0.1s ease-out;
            }

                #overlay-menu ul li a:hover {
                    color: white;
                    transition: color 0.1s ease-in;
                    padding-bottom: 4px;
                    background: linear-gradient(to right, var(--gradient-first-color) 0%, var(--gradient-second-color) 51%, var(--gradient-third-color) 100%);
                    background-size: 100% 4px;
                    background-position: bottom 0 left 0, bottom 4px left 0;
                    background-repeat: no-repeat;
                }

/*#endregion*/
/*#region Footer */

footer {
    background: var(--background-dark-color);
    font-size: 0.9rem;
    line-height: 2rem;
}

    footer p:first-child {
        color: var(--text-over-background-dark);
        text-align: center;
        padding: 0.4rem 0 0 0;
    }

    footer p:nth-child(2) {
        color: var(--text-over-background-dark);
        text-align: center;
        padding: 0 0 0.4rem 0;
    }

.footer-section-title {
    color: white;
    font-weight: 700;
}

.bottom-menu-section {
    display: flex;
    flex-wrap: wrap;
    padding: 3.5rem 5.8rem;
    margin: 0 auto;
    justify-content: center;
    font-weight: 300;
}

    .bottom-menu-section > * {
        margin: 0px 2.6rem;
    }

.last-footer-section {
    background-color: #242e3f;
    font-weight: 300;
}

.pipe {
    margin: 0 0.4rem;
}


/*#endregion*/


/** Articoli */

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.common-section {
    margin: 1rem 0;
    max-width: var(--page-width);
    line-height: 1.7rem;
    width: 100%;
}

.centered-section-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

    .centered-section-content h2 {
        text-align: center !important;
    }

.open-source-home-section h2 {
    text-align: center;
}

.section-content p, .section-content-landing p {
    padding: 0.6rem 0;
    font-size: 1.1rem;
}

.section-content ul {
    margin-left: 1rem;
}

.section-content li {
    list-style: disc;
}

.outside-link,
.colored-link {
    text-decoration: none !important;
    color: var(--background-dark-color);
    border-bottom: 3px solid var(--primary-color);
}

    .outside-link:hover,
    .colored-link:hover {
        color: var(--primary-color);
    }

.section-content h2,
.section-content h3 {
    text-align: left;
}

.section-content p {
}

.section-content h2 {
    padding: 0;
}

.section-content h3 {
    padding: 0 0 0.5rem 0;
}

.image-paragraph {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    clear: both;
}

    .image-paragraph p {
        display: inline-block;
        padding-bottom: 0;
    }

    .image-paragraph a {
        border: none;
    }

    .image-paragraph img {
        max-width: 500px;
        width: 100%;
        border-radius: 20px;
    }

.image-paragraph-bigger img {
    max-width: var(--page-width);
}

.intermediate-article-image {
    max-width: 400px;
    width: 100%;
    margin-top: 1rem;
    border-radius: 20px;
    height: auto;
    margin-bottom: 1rem;
}

.header-with-image {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    max-width: var(--page-width);
    width: 100%;
}

    .header-with-image h3 {
        margin-left: 2rem;
    }

.left-image {
    float: left;
    margin-right: 2rem;
}

.right-image {
    float: right;
    margin-left: 2rem;
}

.vertical-image {
    max-width: 300px;
}

.vertical-image-small {
    max-width: 150px;
}

.vertical-image-medium {
    max-width: 200px;
}

/** Contenuto principale */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--header-height);
}

h1,
h2,
h3,
h4 {
    max-width: var(--page-width);
}

h1 {
    text-align: center;
    font-size: 2.4rem;
    padding: 1rem 0;
    line-height: 4rem;
    font-weight: 900;
}

h2 {
    text-align: left;
    line-height: 2.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

h2, .contact-title {
    font-size: 2rem;
}

h3 {
    text-align: left;
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: 300;
}

h4 {
    text-align: left;
    font-size: 1.2rem;
    padding: 1rem 0;
    font-weight: 300;
}

label {
    font-weight: 700;
}

.grey-section {
    background-color: var(--background-dark-color);
}

    .grey-section * {
        color: white;
    }

.highlight-section, .homepage-section, .inner-header {
    background-image: url(../images/other/pattern-1.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

    .highlight-section * {
        color: white;
    }


.first-section-padding {
    padding: 3rem 0;
}

.after-logo-section-content {
    padding: 0 0 3rem 0 !important;
}

.article-more-padding {
    margin-bottom: 1rem;
}

.white-section {
    background-color: white;
}

.alt-section {
    background-color: var(--alt-color);
}

    .alt-section *, .white-section * {
        color: var(--background-dark-color);
    }

.homepage-header * {
    color: white;
}

.dark-grey-section {
    background-color: var(--background-dark-color-lighter);
}

    .dark-grey-section > * {
        color: white;
    }

    .dark-grey-section b {
        color: var(--primary-color) !important;
    }

    .dark-grey-section i {
        color: white;
    }

    .dark-grey-section .outside-link {
        color: white;
    }

        .dark-grey-section .outside-link:hover {
            color: var(--primary-color);
        }

.project-logo {
    border-radius: 50%;
    max-width: 128px !important;
    max-height: 128px !important;
}

.section-content {
    max-width: var(--page-width);
    line-height: 1.7rem;
    width: 100%;
    padding: 3rem 0;
}

.section-content-landing {
    max-width: 75rem;
    line-height: 1.7rem;
    width: 100%;
    padding: 1rem 0 2rem 0;
}

.boolli-section > * {
    color: var(--background-dark-color);
}

.link-matrix {
    border-bottom: 3px solid #00ff41;
}

    .link-matrix:hover {
        color: #00ff41 !important;
    }

.link-dev-genius {
    border-bottom: 3px solid #2a9d8f;
}

    .link-dev-genius:hover {
        color: #2a9d8f !important;
    }

.link-basic {
    border-bottom: 3px solid #1c70c6;
}

    .link-basic:hover {
        color: #1c70c6 !important;
    }


/*#region Contact form */

.quick-contacts {
    margin: 2rem 0;
}

    .quick-contacts > h4 {
        text-align: center;
        padding: 0;
        margin: 0 0 1rem 0;
    }

    .quick-contacts ul li {
        list-style: none;
        margin: 0.5rem;
    }

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.1rem;
    margin: 3rem 0 1rem 0;
}

    .contact-form input[type=text],
    .contact-form input[type=email],
    .contact-form textarea {
        background-color: transparent;
        width: 100%;
        padding: 0.8rem 0;
        font-size: 1.1rem;
    }

    .contact-form textarea {
        resize: none;
    }

    .contact-form input[type=text],
    input[type=email],
    textarea {
        border: none;
        border-bottom: 1px solid #60605f;
        margin-bottom: 2rem;
    }

    .contact-form label {
        width: 100%;
        font-size: 1rem;
    }


/*#endregion*/

.shortcuts-list ul {
    margin-left: 0;
    display: grid;
    grid-column-gap: 1.5rem;
}

.shortcut-list ul li {
    height: 455px;
}

.shortcuts-list-title-container {
    display: flex;
    align-items: center;
}

    .shortcuts-list-title-container img {
        width: 80px;
        height: 80px;
        margin-right: 1rem;
    }

.shortcuts-list-home {
    grid-template-columns: 1fr 1fr 1fr;
}

.shortcuts-list li {
    list-style: none;
}

.shortcuts-list-home li {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    color: var(--background-dark-color);
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.46);
}

.shortcuts-list li:hover > a {
    transition: all 0.2s ease-in;
    opacity: 1;
}

.shortcuts-list-home li span {
    font-size: 1.2rem;
    font-weight: 900;
    padding-top: 1rem;
    display: block;
}

.shortcuts-list li p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2rem !important;
    margin-bottom: 2rem;
}

.shortcut-link {
    color: var(--primary-color);
}

.shortcuts-list i {
    color: var(--primary-color);
}

#btnContactSubmit {
    align-self: flex-start;
    margin-left: 0;
    margin-top: 2rem;
}

.sitemap-link {
    text-decoration: none;
    color: var(--background-dark-color);
}

    .sitemap-link:hover {
        color: var(--primary-color);
    }

.link-telegram {
    border-bottom: 3px solid #2ea5e2;
}

    .link-telegram:hover {
        color: #2ea5e2;
    }

.quick-contact-label {
    width: 8rem;
    display: inline-block;
    font-weight: 700;
}

.form-two-columns {
    display: flex;
    justify-content: space-between;
}

.form-two-columns-column {
    width: 45%;
}

.francesco-bonizzi-photo {
    max-width: 300px !important;
}

.francesco-bonizzi-photo-for-homepage {
    border-radius: 50% !important;
    max-width: 130px;
}

.microsoft-basic-photo {
    max-width: 400px !important;
    border-radius: 0 !important;
}

.status-code-error {
    background-color: black;
}

.status-code-error-title {
    color: white;
}

#error-content,
#success-content {
    text-align: center;
    min-height: 16px;
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
    width: 100%;
}

#error-content {
    background-color: var(--error-color);
    color: white;
    border-radius: 30px;
    padding: 1rem;
}

#success-content > span {
    background-color: var(--success-color);
    border-radius: 30px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: block;
    color: white;
}

.javascript-disabled-message {
    margin-top: var(--header-height);
    display: none;
    background-color: var(--error-color);
    text-align: center;
    width: 100%;
    color: white;
    max-width: none;
}


/*#region Sitemap */

.sitemap-group {
    margin: 2rem;
}

.sitemap-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    max-width: 100%;
}

.sitemap-group-title {
    font-size: 1.3rem;
    font-weight: 700;
}


/*#endregion*/

.inner-header, .homepage-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    padding: 2rem 0;
    color: white;
    min-height: 320px;
    justify-content: center;
}

    .inner-header h1, .homepage-header h1 {
        text-transform: uppercase;
    }

    .inner-header > h3, .homepage-header > h3 {
        color: white;
    }

/*#region Logo gallery*/

.logo-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: space-between;
}

    .logo-gallery img, .image-with-outline-alt, .image-with-outline-white {
        display: block;
        max-width: 180px;
        max-height: 180px;
        width: auto;
        height: auto;
        border-radius: 50%;
        transition: all 0.2s ease-in;
        border: 9px solid var(--alt-color);
    }

.image-with-outline-white {
    border-color: white;
}

.logo-outline {
    background-image: linear-gradient(to right, var(--gradient-first-color) 0%, var(--gradient-second-color) 51%, var(--gradient-third-color) 100%);
    padding: 2px;
    border-radius: 100%;
}

.opensource-logos img {
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
}

.logo-gallery-name {
    font-size: 0.8rem;
    display: block;
    font-weight: 300;
    color: var(--background-dark-color);
}

.logo-gallery-block {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.8);
    transition: all 0.2s ease-out;
    opacity: 1;
}

.logo-gallery-collaborations > div {
    width: 210px;
}

.logo-gallery-block:hover {
    height: 100%;
    transform: scale(1);
    transition: all 0.2s ease-in;
}

.logo-gallery-block a {
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companies-title {
    text-align: center;
}

/*#endregion*/

.shortcut-list {
    display: flex;
    flex-wrap: wrap;
}

.shortcut-box {
    margin: 1rem;
}

.code-snippet {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 6px;
    font-family: Consolas, Liberation Mono, Menlo, monospace !important;
    font-style: normal;
}


/*#region Better styles for embedding GitHub Gists */

.gist-data * {
    font-family: Consolas, Liberation Mono, Menlo, monospace !important;
}

.gist,
.gist-data,
.gist-file {
    border: none !important;
}

.gist-data {
    padding: 1rem !important;
    border-radius: 6px !important;
}

    .gist-data,
    .gist-data * {
        background-color: white !important;
    }

.gist-meta {
    display: none;
}

.js-file-line-container tr > * {
    font-size: 0.9rem !important;
    line-height: 1.5rem !important;
}


/*#endregion*/


/*#region BreadCrumbs */

.breadcrumbs-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    font-weight: 300;
}

    .breadcrumbs-section ol {
        max-width: var(--page-width);
        padding: 0;
        list-style: none;
        width: 100%;
        color: var(--background-dark-color);
    }

        .breadcrumbs-section ol > li {
            display: inline;
            font-size: 1rem;
        }

            .breadcrumbs-section ol > li + li:before {
                font-family: "imagine-software-icons";
                padding: 0.5rem;
                content: '\e802';
                color: var(--background-dark-color);
            }

            .breadcrumbs-section ol > li > a {
                color: var(--background-dark-color);
                text-decoration: none;
            }

                .breadcrumbs-section ol > li > a:hover {
                    color: var(--primary-color);
                }


/*#endregion*/


/*#region Videogames */

.starfall-animation {
    display: block;
    width: 166px;
    height: 193px;
    background: url('../images/articles/starfall-animation.png') left center;
    animation: starfall 0.8s steps(20) infinite;
    animation-play-state: running;
}

@keyframes starfall {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -3320px;
    }
}

.infart-animation {
    display: block;
    width: 151px;
    height: 193px;
    background: url('../images/articles/infart-animation.png') left center;
    animation: infart 0.8s steps(20) infinite;
    animation-play-state: running;
}

@keyframes infart {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -3025px;
    }
}

.rellow-animation {
    display: block;
    width: 193px;
    height: 193px;
    background: url('../images/articles/rellow-animation.png') left center;
    animation: rellow 0.8s steps(6) infinite;
    animation-play-state: running;
}

@keyframes rellow {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -1158px;
    }
}

.rellow-re {
    color: #ff2359;
    font-weight: 700;
}

.rellow-llow {
    color: #ffca1f;
    font-weight: 700;
}

.rellow-screenshot {
    max-width: 250px !important;
}


/*#endregion*/

.contact-title {
    text-align: center !important;
    padding: 1rem 0;
    text-transform: uppercase;
}

.list-without-dots li {
    list-style: none;
}

.article-image-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

    .article-image-gallery img {
        max-height: 450px;
        border-radius: 20px;
        margin: 0.1rem;
    }


/*#region Scrollbar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #6e6e67;
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #808080;
    }

::-webkit-scrollbar-track {
    background: var(--background-dark-color);
}


/*#endregion*/


/*#region Checkbox custom */

.form-checkbox:not(:checked),
.form-checkbox:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
}

    .form-checkbox:not(:checked) + label,
    .form-checkbox:checked + label {
        position: relative;
        padding-left: 2.5rem;
        font-size: 1.2rem;
        line-height: 1.7;
        cursor: pointer;
    }


        /* checkbox aspect */

        .form-checkbox:not(:checked) + label:before,
        .form-checkbox:checked + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1.6rem;
            height: 1.6rem;
            border: 1px solid #aaa;
            background: #FFF;
            border-radius: 0.4rem;
            -webkit-transition: all .275s;
            transition: all .275s;
        }


        /* checked mark aspect */

        .form-checkbox:not(:checked) + label:after,
        .form-checkbox:checked + label:after {
            content: '✕';
            position: absolute;
            top: 0.8rem;
            left: 0.15rem;
            font-size: 1.6rem;
            color: var(--primary-color);
            line-height: 0;
            -webkit-transition: all .2s;
            transition: all .2s;
        }


        /* checked mark aspect changes */

        .form-checkbox:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0) rotate(45deg);
            transform: scale(0) rotate(45deg);
        }

        .form-checkbox:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
        }


/* Disabled checkbox */

.form-checkbox:disabled:not(:checked) + label:before,
.form-checkbox:disabled:checked + label:before {
    border-color: #bbb;
    background-color: #e9e9e9;
}

.form-checkbox:disabled:checked + label:after {
    color: #777;
}

.form-checkbox:disabled + label {
    color: #aaa;
}

#labelPrivacy {
    font-weight: 400;
}


/*#endregion*/


/** Animazione immagini */

.show-on-scroll {
    opacity: 0;
    transform: translateX(-2rem);
    transition: all 1s ease-out;
    will-change: transform, opacity;
}

.is-visible {
    opacity: 1;
    transform: translateX(0rem);
}

a {
    text-decoration: none;
}

footer a,
footer i {
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--text-over-background-dark);
}

    footer a:hover {
        color: var(--primary-color);
    }

footer i {
    text-decoration: none;
    color: var(--text-over-background-dark);
}

footer span {
    color: var(--text-over-background-dark);
}

.footer-link-contact > a,
.footer-link-contact > i {
    color: var(--primary-color) !important;
}

.action-button,
.action-button-secondary {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-weight: 900;
    border-radius: 100rem;
    text-decoration: none;
    margin: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: all .2s ease-out;
}

.action-button-for-services {
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 200rem;
    border: 2px solid transparent;
    transition: all 0.2s ease-out;
}

    .action-button-for-services i {
        transform: rotate(0deg);
        display: inline-block;
        transition: all 0.2s ease-in;
    }

    .action-button-for-services:hover {
        border-radius: 200rem;
        border: 2px solid var(--primary-color);
        transition: all 0.2s ease-in;
        color: var(--primary-color);
    }

        .action-button-for-services:hover i {
            transform: rotate(90deg);
            transition: all 0.2s ease-in;
        }

.button-top-margin {
    margin-top: 2rem;
}

.action-button {
    background-image: linear-gradient(to right, var(--gradient-first-color) 0%, var(--gradient-second-color) 51%, var(--gradient-third-color) 100%);
    color: white;
}

    .action-button:hover {
        text-decoration: none;
        transform: scale(1.1);
        transition: all .2s ease-out;
    }

.action-button-secondary {
    background-color: transparent;
    color: var(--another-logo-color);
    border: 2px solid;
}

    .action-button-secondary:hover {
        background-image: linear-gradient(to right, var(--gradient-first-color) 0%, var(--gradient-second-color) 51%, var(--gradient-third-color) 100%);
        text-decoration: none;
        transform: scale(1.1);
        border: none;
        transition: all .2s ease-out;
        color: white;
    }

.link-icon {
    color: var(--background-dark-color);
    transform: scale(1.0);
    transition: all 0.2s ease-out;
}

    .link-icon:hover {
        transform: scale(1.2);
        transition: all 0.2s ease-in;
    }

.action-button i {
    color: white;
}


/*#region Pagina 404 */

.morpheus-blue-pill,
.morpheus-red-pill {
    padding: 0.5rem 1rem;
    border-radius: 40px;
    text-decoration: none;
    font-size: 1.2rem;
    width: 12rem;
    text-align: center;
    margin-top: -132px;
}

.morpheus-blue-pill {
    float: right;
    background-color: #0469bb;
    color: white;
    border: none;
    margin-left: 1rem;
}

    .morpheus-blue-pill:hover {
        background-color: #2ea5e2;
        color: white;
        border: none;
    }

.morpheus-red-pill {
    float: left;
    background-color: #c3271c;
    color: white;
    border: none;
    margin-right: 1rem;
}

    .morpheus-red-pill:hover {
        background-color: #e72721;
        color: white;
        border: none;
    }


/*#endregion*/


/*#region Back to top */

.back-to-top-button {
    opacity: 0;
    bottom: 20px;
    position: fixed;
    right: 18px;
    z-index: -99;
    background-color: transparent;
    font-size: 3rem;
    color: #808080;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
    border: none;
}

    .back-to-top-button:hover {
        opacity: 1;
        transition: all 0.2s ease;
        color: var(--primary-color);
    }

.back-to-top-button-visible {
    z-index: 99;
    opacity: 0.5;
    transition: all 0.5s ease;
}


/*#endregion*/

.link-icon {
    border: none;
    display: inline-block;
}

.link-icon-github:hover > i {
    color: #b1b1b1;
}

.link-icon-linkedin:hover > i {
    color: #0a66c2;
}

.link-icon-stackoverflow:hover > i {
    color: #f48024;
}

.icon-linkedin,
.icon-github {
    display: inline-block;
    font-size: 1.8rem;
    margin: 0.5rem;
}

.link-icon-stackoverflow {
    display: inline-block;
    font-size: 1.6rem;
    margin: 0.5rem;
}

.icon-small-for-footer {
    font-size: 1rem;
    margin: 0;
}

.icon-email,
.icon-telegram {
    margin-right: 2px;
}

.quick-contact-label .icon-linkedin {
    font-size: 1rem;
    margin: 0 2px 0 0;
}

.store-download-buttons-group :first-child {
    margin-right: 1rem;
}

.store-download-buttons-group {
    margin-bottom: 3rem;
}

.menu-separator {
    border: 3px solid white;
    border-radius: 50px;
    width: 70px;
}

.header-separator {
    background-image: linear-gradient(to right, var(--gradient-first-color) 0%, var(--gradient-second-color) 51%, var(--gradient-third-color) 100%);
    border-radius: 50px;
    width: 70px;
    height: 3px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
