/** Footer */
footer {
    background: var(--background-dark-color-lighter);
    font-size: 0.9rem;
    line-height: 2rem;
    border-bottom: 4px solid var(--primary-color);
}

.bottom-menu-title {
    color: var(--primary-color);
    font-size: 2rem;
}

footer p:first-child {
    color: var(--text-over-background-dark);
    text-align: center;
    padding: 0.4rem 0 0 0;
}

footer p:nth-child(2) {
    color: var(--text-over-background-dark);
    text-align: center;
    padding: 0 0 0.4rem 0;
}

.footer-section-title {
    color: white;
    font-weight: 600;
}

.bottom-menu-section {
    display: flex;
    flex-wrap: wrap;
    padding: 3.5rem 5.8rem;
    margin: 0 auto;
}

    .bottom-menu-section > * {
        margin: 0px 2.6rem;
    }

.last-footer-section {
    background-color: var(--background-dark-color);
}

.pipe {
    margin: 0 0.4rem;
}

/** Articoli */
section {
    width: 100%;
}

article, .common-section {
    margin: 1rem 0;
    max-width: var(--page-width);
    line-height: 1.7rem;
    width: 100%;
}

.centered-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

article p {
    padding: 0.6rem 0;
    font-size: 1.1rem;
}

article ul, article li {
    list-style: disc;
    margin-left: 1rem;
}

.outside-link, .colored-link {
    text-decoration: none !important;
    color: black;
    border-bottom: 3px solid var(--primary-color);
}

    .outside-link:hover, .colored-link:hover {
        color: var(--primary-color);
    }

article h2, article h3 {
    text-align: left;
}

article h2 {
    padding: 0;
}

article h3 {
    padding: 0.5rem 0 2rem 0;
}

.bottom-space {
    margin-bottom: 5rem;
}

.image-paragraph {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    clear: both;
}

    .image-paragraph p {
        display: inline-block;
    }

    .image-paragraph a {
        border: none;
    }

    .image-paragraph img {
        max-width: 500px;
        width: 100%;
        border-radius: 20px;
    }

.image-paragraph-bigger img {
    max-width: var(--page-width);
}

.intermediate-article-image {
    max-width: 500px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    height: auto;
}

.header-with-image {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    max-width: var(--page-width);
    width: 100%;
}

    .header-with-image h3 {
    }

.left-image {
    float: left;
    margin-right: 2rem;
}

.right-image {
    float: right;
    margin-left: 2rem;
}

.vertical-image {
    max-width: 300px;
}

.article-with-left-image {
    display: flex;
    margin-right: 2rem;
}

    .article-with-left-image img {
        max-width: 300px;
        width: 100%;
    }

/** Contenuto principale */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--header-height);
}

h1, h2, h3, h4 {
    max-width: var(--page-width);
}

h1 {
    text-align: center;
    font-size: 3.4rem;
    padding: 1rem 0;
    line-height: 4rem;
    font-weight: 900;
}

h2 {
    text-align: left;
    font-size: 2.3rem;
    line-height: 2.6rem;
    font-weight: 600;
}

h3 {
    text-align: left;
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: 400;
}

h4 {
    text-align: left;
    font-size: 1.2rem;
    padding: 1rem 0;
    font-weight: 400;
}

.grey-section {
    background-color: #4b4b4c;
}

    .grey-section > * {
        color: white;
    }

.sub-section-title-section {
    background-color: var(--primary-color);
}

    .sub-section-title-section > * {
        color: black;
    }

.first-article-padding {
    padding: 3rem 0;
}

.article-padding {
    padding: 6em 0;
}

.inner-article-title {
    padding: 0;
    font-size: 1.6rem;
}

.article-more-padding {
    margin-bottom: 1rem;
}

.dark-grey-section {
    background-color: var(--background-dark-color-lighter);
}

    .dark-grey-section > * {
        color: white;
    }

    .dark-grey-section b {
        color: var(--primary-color) !important;
    }

    .dark-grey-section .outside-link {
        color: white;
    }

    .dark-grey-section .outside-link:hover {
        color: var(--primary-color);
    }

.project-logo {
    border-radius: 10px;
    width: 128px;
    height: 128px;
}

.article-section {
    padding: 6em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-article-section {
    padding: 3rem 0;
}

.boolli-section > * {
    color: black;
}

.link-matrix {
    border-bottom: 3px solid #00ff41;
}

    .link-matrix:hover {
        color: #00ff41 !important;
    }


.link-dev-genius {
    border-bottom: 3px solid #2a9d8f;
}

    .link-dev-genius:hover {
        color: #2a9d8f !important;
    }

.link-basic {
    border-bottom: 3px solid #1c70c6;
}

    .link-basic:hover {
        color: #1c70c6 !important;
    }


/** Contact form */
.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.1rem;
    margin: 3rem 0 1rem 0;
}

    .contact-form input[type=text], .contact-form input[type=email], .contact-form textarea {
        background-color: transparent;
        width: 100%;
        padding: 0.8rem 0;
        font-size: 1.1rem;
    }

    .contact-form textarea {
        resize: none;
    }

    .contact-form input[type=text], input[type=email], textarea {
        border: none;
        border-bottom: 1px solid var(--text-color-over-primary-light);
        margin-bottom: 2rem;
    }

    .contact-form label {
        width: 100%;
        font-size: 1rem;
    }

.shortcuts-list ul li {
    list-style: none;
}

.shortcuts-list li {
    list-style: none;
    padding: 0.5rem 0;
}

.shortcuts-list {
    max-width: var(--page-width);
    width: 100%;
}

    .shortcuts-list i {
        color: var(--primary-color);
    }

#btnContactSubmit {
    align-self: flex-start;
    margin-left: 0;
    margin-top: 2rem;
}

.sitemap-link {
    text-decoration: none;
    color: var(--background-dark-color);
}

    .sitemap-link:hover {
        color: var(--primary-color);
    }

.link-telegram {
    border-bottom: 3px solid #2ea5e2;
}

    .link-telegram:hover {
        color: #2ea5e2;
    }

.quick-contact-label {
    width: 8rem;
    display: inline-block;
}

.form-two-columns {
    display: flex;
    justify-content: space-between;
}

.form-two-columns-column {
    width: 45%;
}

.francesco-bonizzi-photo {
    max-width: 300px !important;
    border-radius: 50% !important;
    border: 4px solid #2c2c2c;
}

.microsoft-basic-photo {
    max-width: 400px !important;
    border-radius: 0 !important;
}

.status-code-error {
    background-color: black;
}

.status-code-error-title {
    color: white;
}

#error-content, #success-content {
    text-align: center;
    min-height: 16px;
    display: block;
    font-size: 1.1rem;
    white-space: pre;
}

#error-content {
    background-color: var(--error-color);
    color: white;
    border-radius: 30px;
    padding: 1rem;
}

#success-content > span {
    background-color: var(--success-color);
    border-radius: 30px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: block;
    color: white;
}

.javascript-disabled-message {
    margin-top: var(--header-height);
    display: none;
    background-color: var(--error-color);
    text-align: center;
    width: 100%;
    color: white;
    max-width: none;
}

/** Sitemap */
.sitemap-group {
    margin: 2rem;
}

.sitemap-section {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.sitemap-group-title {
    font-size: 1.3rem;
    font-weight: 600;
}

/** Inner header */
.inner-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    padding: 2rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--background-dark-color);
    color: var(--primary-color);
}

.inner-header > h3 {
    color: white;
}

.inner-header-services {
}

.inner-header-francesco {
}

.inner-header-projects {
}

.inner-header-applications {
    /* TODO */
}

.companies-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

    .companies-showcase img {
        display: block;
        margin: 0.5rem;
        max-width: 180px;
        max-height: 180px;
        width: auto;
        height: auto;
        border-radius: 20px;
        transition: all 0.3s ease;
    }


.company-showcase-name {
    opacity: 0;
    transition: all 0.3s ease;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    width: 100%;
}

.company-block {
    position: relative;
    text-align: center;
}

    .company-block:hover > .company-showcase-name {
        opacity: 1;
        transition: all 0.3s ease;
    }

    .company-block:hover > img {
        opacity: 0.3;
        transition: all 0.3s ease;
    }

.companies-title {
    text-align: center;
}

.shortcut-list {
    display: flex;
    flex-wrap: wrap;
}

.shortcut-box {
    margin: 1rem;
}

.code-snippet {
    font-family: Consolas, Liberation Mono, Menlo, monospace !important;
    font-style: normal;
    border-radius: 6px;
    font-weight: 600;
}

/* Better styles for embedding GitHub Gists */
.gist-data * {
    font-family: Consolas, Liberation Mono, Menlo, monospace !important;
}

.gist, .gist-data, .gist-file {
    border: none !important;
}

.gist-data {
    padding: 1rem !important;
    border-radius: 6px !important;
}

    .gist-data, .gist-data * {
        background-color: white !important;
    }

.gist-meta {
    display: none;
}

.js-file-line-container tr > * {
    font-size: 0.9rem !important;
    line-height: 1.5rem !important;
}

/** BreadCrumbs */
.breadcrumbs-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--background-dark-color-lighter);
}

    .breadcrumbs-section ol {
        max-width: var(--page-width);
        padding: 0 1rem;
        list-style: none;
        width: 100%;
        color: var(--text-over-background-dark);
    }

        .breadcrumbs-section ol > li {
            display: inline;
            font-size: 1rem;
        }

            .breadcrumbs-section ol > li + li:before {
                font-family: "imagine-software-icons";
                padding: 0.5rem;
                content: '\e802';
                color: var(--text-over-background-dark);
            }

            .breadcrumbs-section ol > li > a {
                color: var(--text-over-background-dark);
                text-decoration: none;
            }

                .breadcrumbs-section ol > li > a:hover {
                    text-decoration: underline;
                }

/** Videogames animations */
.starfall-animation {
    display: block;
    width: 166px;
    height: 193px;
    background: url('../images/articles/starfall-animation.png') left center;
    animation: starfall 0.8s steps(20) infinite;
    animation-play-state: running;
}

@keyframes starfall {

    0% {
        background-position: 0px;
    }

    100% {
        background-position: -3320px;
    }
}

.infart-animation {
    display: block;
    width: 151px;
    height: 193px;
    background: url('../images/articles/infart-animation.png') left center;
    animation: infart 0.8s steps(20) infinite;
    animation-play-state: running;
}

@keyframes infart {

    0% {
        background-position: 0px;
    }

    100% {
        background-position: -3025px;
    }
}

.rellow-animation {
    display: block;
    width: 193px;
    height: 193px;
    background: url('../images/articles/rellow-animation.png') left center;
    animation: rellow 0.8s steps(6) infinite;
    animation-play-state: running;
}

@keyframes rellow {

    0% {
        background-position: 0px;
    }

    100% {
        background-position: -1158px;
    }
}

.rellow-re {
    color: #ff2359;
    font-weight: 600;
}

.rellow-llow {
    color: #ffca1f;
    font-weight: 600;
}

.rellow-page {
    font-family: Consolas, monospace;
}

.rellow-screenshot {
    max-width: 250px !important;
}

.contact-title {
    text-align: center;
    font-size: 3.4rem;
    padding: 1rem 0;
    line-height: 4rem;
}

.list-without-dots li {
    list-style: none;
}

.article-image-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

    .article-image-gallery img {
        max-height: 450px;
        border-radius: 20px;
        margin: 0.1rem;
    }