/** Footer */
footer {
    background: var(--background-dark-color);
    font-size: 1.2rem;
    line-height: 2rem;
}

.bottom-menu-title {
    color: var(--primary-color);
}

footer p {
    color: var(--text-over-background-dark);
    text-align: center;
    padding: 1.2rem 0.6rem;
}

.bottom-menu-section {
    display: flex;
    flex-wrap: wrap;
    padding: 3.5rem 5.8rem;
    margin: 0 auto;
}

    .bottom-menu-section > * {
        margin: 0px 2.6rem;
    }

footer hr {
    border: 0;
    height: 0.05rem;
    background-color: rgba(255, 255, 255, 0.1);
    width: 90%;
    margin: 0 auto;
}

footer a {
    text-decoration: none;
    color: var(--text-over-background-dark);
}

    footer a:hover {
        color: var(--primary-color);
        text-decoration: underline;
    }

/** Articoli */
section {
    width: 100%;
}

article, .common-section {
    margin: 1rem 0;
    max-width: var(--page-width);
    line-height: 1.7rem;
    width: 100%;
}

.centered-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

article p {
    padding: 0.6rem 0;
    font-size: 1.2rem;
}

article a {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid var(--primary-color);
}

    article a:hover {
        color: var(--primary-color);
    }

article h2, article h3 {
    text-align: left;
}

article h2 {
    padding: 0;
}

article h3 {
    padding: 0 0 2rem 0;
}

.bottom-space {
    margin-bottom: 5rem;
}

.image-paragraph {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .image-paragraph p {
        display: inline-block;
    }

    .image-paragraph img {
        max-width: 500px;
        width: 100%;
    }

/** Contenuto principale */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(var(--header-height) + 2rem);
}

h1, h2, h3, h4 {
    max-width: var(--page-width);
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem 0;
    line-height: 4rem;
}

h2 {
    text-align: left;
    font-size: 2.3rem;
    line-height: 2.6rem;
}

h3 {
    text-align: left;
    font-size: 1.4rem;
    padding: 1rem 0;
    font-weight: normal;
}

h4 {
    text-align: left;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.grey-section {
    background-color: #4b4b4c;
    padding: 6em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .grey-section > * {
        color: white;
    }

.article-padding {
    padding: 6em 0;
}

.dark-grey-section {
    background-color: var(--background-dark-color);
    padding: 6em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .dark-grey-section > * {
        color: white;
    }

.action-button {
    background-color: white;
    padding: 1.2rem 1.5rem;
    color: var(--background-dark-color);
    border-radius: 40px;
    text-decoration: none;
    margin: 1rem;
    font-size: 1.2rem;
}

    .action-button:hover {
        background-color: var(--background-dark-color);
        color: var(--text-over-background-dark);
    }

.action-button-inverted {
    background-color: var(--background-dark-color);
    color: white;
}

    .action-button-inverted:hover {
        background-color: var(--text-over-background-dark);
        color: var(--background-dark-color);
    }

.link-matrix {
    border-bottom: 3px solid #00ff41;
}

    .link-matrix:hover {
        color: #00ff41;
    }

.link-basic {
    border-bottom: 3px solid #1c70c6;
}

    .link-basic:hover {
        color: #1c70c6;
    }

.code-snippet {
    font-family: monospace;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
}

/** Contact form */
.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.1rem;
    margin: 3rem 0 1rem 0;
}

    .contact-form input[type=text], .contact-form input[type=email], .contact-form textarea {
        width: 100%;
        padding: 0.8rem 0;
        font-size: 1.1rem;
    }

    .contact-form textarea {
        resize: none;
    }

    .contact-form input[type=text], input[type=email], textarea {
        border: none;
        border-bottom: 1px solid var(--text-color-over-primary-light);
        margin-bottom: 2rem;
    }

    .contact-form label {
        width: 100%;
        font-size: 1rem;
    }

#btnContactSubmit {
    align-self: flex-start;
    margin-left: 0;
    margin-top: 2rem;
}

.common-link {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid var(--primary-color);
    white-space: pre;
}

    .common-link:hover {
        color: var(--primary-color);
    }

.sitemap-link {
    text-decoration: none;
    color: var(--background-dark-color);
}

    .sitemap-link:hover {
        text-decoration: underline;
        color: black;
    }

.link-telegram {
    border-bottom: 3px solid #2ea5e2;
}

    .link-telegram:hover {
        color: #2ea5e2;
    }

.quick-contact-label {
    width: 6rem;
    display: inline-block;
}

.form-two-columns {
    display: flex;
    justify-content: space-between;
}

.form-two-columns-column {
    width: 45%;
}

.francesco-bonizzi-photo {
    max-width: 300px !important;
    border-radius: 50%;
}

.microsoft-basic-photo {
    max-width: 400px !important;
}

/** Morpheus */
.morpheus-buttons {
    /** Potrei usare lo zoom per il responsive qui */
}

.morpheus-blue-pill, .morpheus-red-pill {
    padding: 0.5rem 1rem;
    border-radius: 40px;
    text-decoration: none;
    font-size: 1.2rem;
    width: 18rem;
    text-align: center;
    margin-top: -132px;
}

.morpheus-blue-pill {
    float: right;
    background-color: #0469bb;
    color: white;
    border: none;
    margin-left: 1rem;
}

    .morpheus-blue-pill:hover {
        background-color: #2ea5e2;
        color: white;
        border: none;
    }

.morpheus-red-pill {
    float: left;
    background-color: #c3271c;
    color: white;
    border: none;
    margin-right: 1rem;
}

    .morpheus-red-pill:hover {
        background-color: #e72721;
        color: white;
        border: none;
    }

.status-code-error {
    background-color: black;
}

.status-code-error-title {
    color: white;
}

#error-content, #success-content {
    text-align: center;
    min-height: 16px;
    display: block;
    font-size: 1.1rem;
    white-space: pre;
}

#error-content {
    background-color: var(--error-color);
    color: white;
    border-radius: 30px;
    padding: 1rem;
}

#success-content > span {
    background-color: var(--success-color);
    border-radius: 30px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: block;
    color: white;
}

.javascript-disabled-message {
    margin-top: var(--header-height);
    display: none;
    background-color: var(--error-color);
    text-align: center;
    width: 100%;
    color: white;
    max-width: none;
}

/** Sitemap */
.sitemap-group {
    margin: 2rem;
}

.sitemap-section {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.sitemap-group-title {
    font-size: 1.3rem;
    font-weight: 600;
}
