/** Footer */

footer {
    background: var(--background-dark);
    font-size: 1.2rem;
    line-height: 2rem;
}

.bottom-menu-title {
    color: var(--primary-color);
}

footer p {
    color: var(--text-over-background-dark);
    text-align: center;
    padding: 20px 10px;
}

.bottom-menu-section {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 100px;
    margin: 0 auto;
}

    .bottom-menu-section > * {
        margin: 0px 40px;
    }

footer hr {
    border: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 90%;
    margin: 0 auto;
}

footer a {
    text-decoration: none;
    color: var(--text-over-background-dark);
}

    footer a:hover {
        color: var(--primary-color);
        text-decoration: underline;
    }

/** Header */
header {
    height: 60px;
    display: flex;
}

.header-title {
    display: inline-block;
    align-self: center;
}
