/** Footer */
footer {
    background: var(--background-dark-color);
    font-size: 1.2rem;
    line-height: 2rem;
}

.bottom-menu-title {
    color: var(--primary-color);
}

footer p {
    color: var(--text-over-background-dark);
    text-align: center;
    padding: 1.2rem 0.6rem;
}

.bottom-menu-section {
    display: flex;
    flex-wrap: wrap;
    padding: 3.5rem 5.8rem;
    margin: 0 auto;
}

    .bottom-menu-section > * {
        margin: 0px 2.6rem;
    }

footer hr {
    border: 0;
    height: 0.05rem;
    background-color: rgba(255, 255, 255, 0.1);
    width: 90%;
    margin: 0 auto;
}

footer a {
    text-decoration: none;
    color: var(--text-over-background-dark);
}

    footer a:hover {
        color: var(--primary-color);
        text-decoration: underline;
    }

/** Header */
header {
    height: 3.5rem;
    display: flex;
}

.header-title {
    display: inline-block;
    align-self: center;
}

/** Articoli */
section {
    width: 100%;
}

article, .common-section {
    margin: 1rem 0;
    max-width: 50rem;
    line-height: 1.7rem;
}

.centered-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

    article p {
        padding: 0.6rem 0;
        font-size: 1.2rem;
    }

    article a {
        text-decoration: none;
        color: black;
        border-bottom: 3px solid var(--primary-color);
    }

        article a:hover {
            color: var(--primary-color);
        }

.image-paragraph {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .image-paragraph p {
        display: inline-block;
    }

    .image-paragraph img {
        max-width: 500px;
        width: 100%;
    }

/** Contenuto principale */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4 {
    max-width: 50rem;
}

h1 {
    text-align: left;
    font-size: 3.5rem;
    padding: 1rem 0;
}

h3 {
    text-align: left;
    font-size: 1.4rem;
    padding: 1rem 0;
}

h4 {
    text-align: left;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.grey-section {
    background-color: #4b4b4c;
    padding: 6em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .grey-section > * {
        color: white;
    }

.action-button {
    background-color: white;
    padding: 1.2rem 1.5rem;
    color: var(--background-dark-color);
    border-radius: 40px;
    text-decoration: none;
    margin: 1rem;
    font-size: 1.2rem;
}

    .action-button:hover {
        background-color: var(--background-dark-color);
        color: var(--text-over-background-dark);
    }

.action-button-inverted {
    background-color: var(--background-dark-color);
    color: white;
}

    .action-button-inverted:hover {
        background-color: var(--text-over-background-dark);
        color: var(--background-dark-color);
    }

.link-matrix {
    border-bottom: 3px solid #00ff41;
}

    .link-matrix:hover {
        color: #00ff41;
    }

.link-basic {
    border-bottom: 3px solid #1c70c6;
}

    .link-basic:hover {
        color: #1c70c6;
    }

.code-snippet {
    font-family: monospace;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
}

/** Contact form */
.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.1rem;
}

    .contact-form input[type=text], .contact-form input[type=email], .contact-form textarea {
        width: 100%;
        padding: 0.8rem 0;
        font-size: 1.1rem;
    }

    .contact-form textarea {
        resize: none;
    }

    .contact-form input[type=text], input[type=email], textarea {
        border: none;
        border-bottom: 1px solid var(--text-color-over-primary-light);
        margin-bottom: 2rem;
    }

    .contact-form label {
        width: 100%;
        font-size: 1rem;
    }

    #btnContactSubmit {
        align-self: flex-start;
        margin-left: 0;
    }

.common-link {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid var(--primary-color);
}

    .common-link:hover {
        color: var(--primary-color);
    }

.link-telegram {
    border-bottom: 3px solid #2ea5e2;
}

    .link-telegram:hover {
        color: #2ea5e2;
    }

.quick-contact-label {
    width: 5rem;
    display: inline-block;
}

.form-two-columns {
    display: flex;
    justify-content: space-between;
}

.form-two-columns-column {
    width: 45%;
}