:root {
    --primary-color: #fdd007;
    --text-color-over-primary-light: #60605f;
    --text-color-over-primary: black;
    --background-dark-color: #131419;
    --background-dark-color-lighter: #27282a;
    --text-over-background-dark: #c5c5c5;
    --success-color: #4BB543;
    --error-color: #dc1414;
    --loader-color: #fdd007;
    --page-width: 50rem;
    --header-height: 4rem;
}

html {
    /* Per rem */
    font-size: 17px;
}

/* Font
-------------------------------------------------- */
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('/css/fonts/OpenSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('/css/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('/css/fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
}


/* Global styles
-------------------------------------------------- */
* {
    font-family: 'Open Sans', sans-serif !important;
}

b {
    font-weight: 600;
}