:root {
    --primary-color: #fdd007;
    --text-color-over-primary-light: #60605f;
    --text-color-over-primary: black;
    --background-dark-color: #131419;
    --text-over-background-dark: #c5c5c5;
    --success-color: #4BB543;
    --error-color: #dc1414;
}

html {
    /* Per rem */
    font-size: 17px;
}