@{
    ViewData["Title"] = "Vuoi discutere di un progetto o di una folle idea? Scrivimi!";
}

<noscript>
    <style>
        /* Se javascript è disabilitato non mostro la form */
        #main-content {
            display: none;
        }
    </style>
</noscript>

<div class="inner-header">
    <h1>Vuoi discutere di un progetto<br /> o di una folle idea?</h1>
    <h3>Scrivimi due righe.</h3>
</div>

<section class="common-section centered-section">
    <h4>Contatti rapidi</h4>

    <ul>
        <li>
            <span class="quick-contact-label"><i class="icon-email"></i>Email:</span>
            <a class="common-link" href="mailto:fbonizzi@imaginesoftware.it" alt="Indirizzo email per contattare Francesco Bonizzi di Imagine Software" title="Scrivimi due righe per email!">fbonizzi@imaginesoftware.it</a>
        </li>
        <li>
            <span class="quick-contact-label"><i class="icon-telegram"></i>Telegram:</span>
            <a class="common-link link-telegram" href="https://telegram.me/fbonizzi" alt="Link per inviare un messaggio su Telegram a Francesco Bonizzi di Imagine Software" title="Scrivimi due righe tramite Telegram">@@fbonizzi</a>
        </li>
    </ul>
</section>

<section class="common-section">

    <div id="loader" style="display: none;">
        <div class="loader"></div>
        <span class="loader-message">Operazione in corso...</span>
    </div>

    <div id="main-content">
        <form onsubmit="return false;" class="contact-form" id="contact-form">

            <div class="form-two-columns">
                <div class="form-two-columns-column">
                    <label for="txtName">Nome</label>
                    <input type="text" id="txtName" placeholder="Inserisci il tuo nome" autocomplete="on" />
                </div>

                <div class="form-two-columns-column">
                    <label for="txtEmail">Email</label>
                    <input type="email" id="txtEmail" placeholder="La tua email?" autocomplete="on" />
                </div>
            </div>

            <label for="txtMessage">Messaggio</label>
            <textarea placeholder="Dimmi tutto!" id="txtMessage" rows="3" cols="12"></textarea>

            <div>
                <label for="chkPrivacy">Ho preso atto dell'<a class="common-link" asp-controller="Home" asp-action="Privacy" alt="Un link all'informativa sulla Privacy per il trattamento dei tuoi dati" title="Leggi l'informativa sulla privacy di Imagine Software" target="_blank">informativa sulla privacy</a></label>
                <input type="checkbox" id="chkPrivacy" checked />
            </div>

            <input type="text" name="password" style="display: none !important" tabindex="-1" autocomplete="off" />

            <a href="#" id="btnContactSubmit" class="action-button action-button-with-border">Invia la tua richiesta</a>

        </form>
    </div>

    <div id="success-content" style="display: none;">
        <span>Grazie! Ti risponderò il prima possibile.</span>
        <a href="#" id="btnResetForm" class="action-button action-button-with-border">Invia un altro messaggio</a>
    </div>

    <span id="error-content" style="display: none;"></span>

</section>

@section Scripts {

    <script type="text/javascript">
        const app = new contactPage();
    </script>

}
