@{
    ViewData["Title"] = "Francesco Bonizzi";
}

<h1>Francesco Bonizzi</h1>
<h3>Professionista dello sviluppo software</h3>

<article>

    <p>
        A tre anni scalciavo sulle ginocchia di mio papà mentre lo vedevo programmare in <a rel="nofollow" href="https://it.wikipedia.org/wiki/BASIC" alt="Un link alla pagina di Wikipedia che parla del linguaggio di programmazione BASIC" title="Informazioni sul linguaggio BASIC su Wikipedia">BASIC</a>. Quel che faceva m'affascinava a tal punto da non distinguerlo dalla magia. E quando vidi Matrix per la prima volta, iniziai a sognare di diventare un hacker in grado riparare agli "errori dei software".
    </p>

    <img src="~/images/BASIC.png" alt="Uno screenshot dell'Applesoft BASIC, presente negli home computer Apple II" title="Uno screenshot dell'Applesoft BASIC, presente negli home computer Apple II" height="400" />

    <p>
        A 13 anni mi regalarono un manuale di <a href="https://it.wikipedia.org/wiki/Microsoft" rel="nofollow" alt="Un link alla pagina di Wikipedia che parla dell'azienda Microsoft" title="Informazioni su Microsoft su Wikipedia">Microsoft</a> <a rel="nofollow" href="https://it.wikipedia.org/wiki/Visual_Basic" alt="Un link alla pagina di Wikipedia che parla del linguaggio di programmazione Visual Basic" title="Informazioni sul linguaggio Visual Basic su Wikipedia">Visual Basic</a> 6.0. E a 10 dalla prima infatuazione per l'informatica, mi sono laureato in Computer Science. Ora la programmazione è il mio lavoro e ha plasmato come osservo il mondo. Sviluppo - nel tempo libero - videogiochi, App Android, librerie open source e studio nuovi framework.
    </p>

    <img src="~/images/Francesco-Bonizzi.jpg" alt="Una foto di Francesco Bonizzi, sviluppatore software" height="400" />
    <!-- TODO: aggiungere una descrizione, sviluppo .NET, Android, LinkedIn, Telegram -->

    <p>
        Per questo continuo a studiare e a fare esperienza.
    </p>

    <p>
        Il lavoro in <a href="https://www.isolutions.it/" rel="nofollow" title="Informazioni sull'azienda iSolutions" alt="Un link al sito ufficiale di iSolutions">iSolutions</a>, software house nel mondo del betting, è stata l'esperienza migliore con cui potessi iniziare. Ho conosciuto l'ecosistema .NET, ho imparato a programmare in C#, VB, a progettare database T-SQL e a ragionare pensando alle performance, ai grandi numeri, alle farm gigantesche e agli accessi giornalieri densi e frequenti. Ho scritto enne alla enne test automatici con l'intento di giungere all'errore zero, per dormire meglio la notte dopo i rilasci. Ed ho davvero avuto la fortuna di lavorare con un team meraviglioso.
    </p>

    <p>
        C'è ancora talmente tanto da imparare che a volte non ci dormo la notte.
    </p>

</article>

<section class="grey-section">
    <h4>Contattami</h4>
    <h1>Vuoi discutere un progetto con me?</h1>
    <a asp-controller="Home" asp-action="Contacts" class="action-button">Scrimi Due Righe</a>
</section>
