@{
    ViewData["Title"] = "Design, sviluppo, integrazione di software e App";
}

<div class="inner-header">
    <h1>@ViewData["Title"]</h1>
    <h3>Ideas are cheap, execution is everything</h3>
</div>

<section class="article-section dark-grey-section">
    <article>

        <h2 class="companies-title">Ho collaborato con</h2>
        <h3></h3>

        <div class="companies-showcase">

            <div class="company-block">
                <img src="~/images/logos/logo-consorzio-idraulico-tombone.jpg" alt="Il logo dell'azienda per cui ho lavorato Consorzio Idraulico del Tombone" title="Consorzio Idraulico del Tombone" asp-append-version="true" />
                <span class="company-showcase-name">Consorzio Idraulico del Tombone</span>
            </div>

            <div class="company-block">
                <img src="~/images/logos/logo-esaedro.jpg" alt="Il logo dell'azienda per cui ho lavorato Esaedro" title="Esaedro S.r.l." asp-append-version="true" />
                <span class="company-showcase-name">Esaedro S.r.l.</span>
            </div>

            <div class="company-block">
                <img src="~/images/logos/logo-fst.jpg" alt="Il logo dell'azienda per cui ho lavorato FST" title="FST S.r.l." asp-append-version="true" />
                <span class="company-showcase-name">FST S.r.l.</span>
            </div>

            <div class="company-block">
                <img src="~/images/logos/logo-infor.jpg" alt="Il logo dell'azienda per cui ho lavorato Infor Srl" title="Infor S.r.l." asp-append-version="true" />
                <span class="company-showcase-name">Infor S.r.l.</span>
            </div>

            <div class="company-block">
                <img src="~/images/logos/logo-isolutions.jpg" alt="Il logo dell'azienda per cui ho lavorato iSolutions" title="iSolutions S.r.l." asp-append-version="true" />
                <span class="company-showcase-name">iSolutions S.r.l.</span>
            </div>

            <div class="company-block">
                <img src="~/images/logos/logo-serravalle-energia.jpg" alt="Il logo dell'azienda per cui ho lavorato Serravalle Energia" title="Serravalle Energia S.r.l." asp-append-version="true" />
                <span class="company-showcase-name">Serravalle Energia S.r.l.</span>
            </div>

            <div class="company-block">
                <img src="~/images/logos/logo-upwork.jpg" alt="Il logo dell'azienda per cui ho lavorato Upwork" title="Upwork® Global Inc." asp-append-version="true" />
                <span class="company-showcase-name">Upwork® Global Inc.</span>
            </div>

            <div class="company-block">
                <img src="~/images/logos/logo-tncr-editorial-engineering.jpg" alt="Il logo dell'azienda per cui ho lavorato TNCR Editorial Engineering" title="TNCR Editori@l Engineering" asp-append-version="true" />
                <span class="company-showcase-name">TNCR Editori@l Engineering</span>
            </div>

        </div>

    </article>
</section>

<article class="article-padding">
    <h2>Scrivo articoli d'informatica</h2>
    <h3>su Medium</h3>

    <img class="intermediate-article-image vertical-image left-image" src="~/images/logos/logo-medium.png" alt="Il logo di Medium" title="Medium logo" asp-append-version="true" />

    <p>
        <a href="https://medium.com/" target="_blank" class="outside-link" title="Visita Medium">Medium</a> è un'ottima piattaforma per pubblicare articoli rivolti ad una vasta platea. Scrivo al 99% di informatica e tecnologie e sono stato ammesso come <i>writer</i> sulle due pubblicazioni più quotate in ambito <i>tech</i>: <a class="outside-link" href="https://betterprogramming.pub/" target="_blank" title="Visita la pubblicazione di Medium 'Better Programming'">Better Programming</a> e <a class="outside-link link-dev-genius" href="https://devgenius.io/" target="_blank" title="Visita la pubblicazione di Medium 'DevGenius'">DevGenius</a>.
    </p>

    <a href="https://medium.com/@@fbonizzi.90" class="action-button" target="_blank">Leggi i miei articoli</a>

</article>

<partial name="_ContactSection" />