@{
    var routeName = ViewContext.ActionDescriptor.AttributeRouteInfo.Name;
    ViewData["Title"] = routeName;
    ViewData["MetaDescription"] = "L'offerta esclusiva di Imagine Software: il miglior professionista dello sviluppo software al servizio delle tue idee.";
}

<div class="inner-header inner-header-services">
    <h1>Al servizio delle tue idee</h1>
    <h3>@routeName</h3>
</div>

<partial name="_OnePageFromHomeBreadcrumbs" model="new { ThisPageRouteName = @routeName }" />

<section class="dark-grey-section" id="services-shortcuts-lists">
    <div class="section-content small-section-content">
        <div class="shortcuts-list">
            <ul class="shortcuts-list-services">

                <li>
                    <a class="action-button-for-services" href="#section-startup">
                        <div class="shortcuts-list-title-container">
                            <img src="~/vectors/rocket.svg" asp-append-version="true" />
                            <span>Hai un'idea rivoluzionaria? <i class="icon-right-open"></i></span>
                        </div>
                    </a>
                </li>

                <li>
                    <a class="action-button-for-services" href="#section-your-website">
                        <div class="shortcuts-list-title-container">
                            <img src="~/vectors/world-wide-web.svg" asp-append-version="true" />
                            <span>Vuoi farti notare online? <i class="icon-right-open"></i></span>
                        </div>
                    </a>
                </li>

                <li>
                    <a class="action-button-for-services" href="#section-i-already-know">
                        <div class="shortcuts-list-title-container">
                            <img src="~/vectors/target.svg" asp-append-version="true" />
                            <span>Hai un obiettivo specifico? <i class="icon-right-open"></i></span>
                        </div>
                    </a>
                </li>

                <li>
                    <a class="action-button-for-services" href="#section-full-stack">
                        <div class="shortcuts-list-title-container">
                            <img src="~/vectors/team.svg" asp-append-version="true" />
                            <span>Vuoi ampliare il tuo team? <i class="icon-right-open"></i></span>
                        </div>
                    </a>
                </li>

                <li>
                    <a class="action-button-for-services" href="#section-how-i-work">
                        <span>Come lavoro <i class="icon-right-open"></i></span>
                    </a>
                </li>

                <li>
                    <a class="action-button-for-services" asp-controller="Home" asp-action="Contacts">
                        <span>Contattami <i class="icon-right-open"></i></span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</section>

<section id="section-startup">
    <div class="section-content">
        <h2>Hai un'idea rivoluzionaria?</h2>
        <h3>Sei nel posto giusto!</h3>

        <p>
            Se sei una <b>Start-up</b> o una piccola azienda ed hai bisogno di un <b>MVP</b> da presentare, sono pronto a collaborare con te a tutto tondo per darti gli <b>strumenti per crescere</b>.
        </p>

        <p>
            Sono un professionista dello sviluppo software in grado di far decollare il tuo progetto: posso sviluppare un'<b>App</b>, un <b>sito web</b>, un'<b>applicazione desktop</b> e aiutarti nella definizione dei requisiti e delle funzionalità di cui hai bisogno perché la tua idea diventi tangibile.
        </p>

        <p>
            Insieme possiamo formare il <b>laboratorio digitale</b> di cui hai bisogno!
        </p>
    </div>
</section>

<section class="dark-grey-section" id="section-your-website">
    <div class="section-content">

        <h2>Vuoi dare visibilità alla tua attività?</h2>
        <h3>Realizzo il tuo sito su misura.</h3>

        <p>
            Nel panorama attuale non basta una pagina Facebook per <b>esistere online</b>: il sito web è un punto di riferimento per dimostrare la tua professionalità e le peculiarità del tuo business.
        </p>

        <img class="intermediate-article-image left-image show-on-scroll" src="~/images/articles/david-rotimi-yellow-pepper-unsplash.jpg" alt="Foto di David Rotimi su Unsplash" title="Foto di David Rotimi su Unsplash" asp-append-version="true" />

        <p>
            Che ti serva un <b>sito vetrina</b>, un <b>e-commerce</b>, un sito interno per gestire la tua attività, la presenza online è la condizione minima per partire.
        </p>

        <p>
            Sono il partner efficiente, rapido, in grado di portare i costi al minimo possibile e darti l'attenzione che meriti.
        </p>

        <a asp-controller="Home" asp-action="Contacts" class="action-button button-top-margin">Contattami</a>

    </div>
</section>

<section id="section-i-already-know">
    <div class="section-content">

        <h2>Hai un obiettivo specifico?</h2>
        <h3>Ti aiuto a raggiungerlo.</h3>

        <p>
            Hai già le idee chiarissime? Hai un processo che richiede molto tempo e risorse, un <i>know-how</i> solo tuo che se fosse automatizzato ti farebbe <b>guadagnare di più</b>? Posso aiutarti a formalizzarlo, automatizzarlo e renderlo digitalmente utilizzabile per migliorare il tuo flusso di lavoro.
        </p>

        <p>
            In fondo l'informatica nasce per questo!
        </p>

        <a asp-controller="Home" asp-action="Contacts" class="action-button button-top-margin">Contattami</a>

    </div>
</section>

<section class="dark-grey-section" id="section-full-stack">
    <div class="section-content">

        <h2>Cerchi un Full stack Developer per ampliare il tuo team?</h2>
        <h3>Hai trovato il tuo acceleratore di progetti.</h3>

        <img class="intermediate-article-image vertical-image right-image show-on-scroll" src="~/images/articles/shane-rounce-team-work-photo-unsplash.jpg" alt="Foto di Shane Rounce su Unsplash" title="Foto di Shane Rounce su Unsplash" asp-append-version="true" />

        <p>
            Come svilupatore software <b>Full stack</b>, mi occupo sia di <i>front-end</i> che di <i>back-end</i>. Prediligo lo stack <b>Microsoft</b>: <em class="code-snippet">.NET Core</em>, <em class="code-snippet">ASP .NET Core</em>, ma anche <em class="code-snippet">WPF</em> per le applicazioni desktop, ed ho una particolare predilezione per il mondo <em class="code-snippet">SQL Server</em> ed <em class="code-snippet">Azure</em>.
        </p>

        <p>
            Vive in me l'ossessione per la chiarezza e l'<b>espressività del codice</b>, è un mio marchio di fabbrica. Il codice che scrivo è pulito, ordinato, facilmente comprensibile, coerente e lineare. Presto molta attenzione alle <b>performance</b> - vengo dal mondo del <i>betting</i> - e alla <i>debuggabilità</i> di ciò che sviluppo.
        </p>

        <p>
            Posso inserirmi nel tuo team anche con metodo <em class="code-snippet">Agile/Scrum</em>, <b>sviluppare parti di codice e interi progetti</b> per il quale al momento non hai abbastanza risorse, aiutarti nel <b>refactoring</b> o nella stesura di <em class="code-snippet">Unit Test</em> e <em class="code-snippet">Integration Test</em>. So integrarmi in modo significativo e costruttivo con i colleghi, ovunque essi siano.
        </p>

        <p>
            Infine mi occupo di <em class="code-snippet">App Android</em> native in <em class="code-snippet">Kotlin</em> o <em class="code-snippet">Java</em> in ottica di collaborazione di un progetto esistente o per iniziarne uno nuovo.
        </p>

        <a asp-controller="Home" asp-action="Contacts" class="action-button button-top-margin">Contattami</a>

    </div>
</section>

<section id="section-how-i-work">
    <div class="section-content">

        <h2>Come lavoro</h2>
        <h3>I miei standard.</h3>

        <p>
            Sviluppo il software tenendo ben presenti gli standard di leggibilità, espressività, e sicurezza. Seguo alla lettera le linee guida sulla <i>security</i> del codice di <a class="outside-link" target="_blank" href="https://owasp.org/" title="Fondazione OWASP per la security del codice">OWASP</a>: prima di rilasciare in produzione un sito web analizzo il codice sorgente con strumenti di <i>analisi statica</i> e lancio dei <i>penetration tests.</i>
        </p>

        <p>
            Il mio servizio di versioning preferito è <a class="outside-link" href="https://github.com/FrancescoBonizzi" title="Visita il mio profilo su GitHub" target="_blank">GitHub</a>, ed effettuo - in aggiunta ai backup dei provider di servizi - un backup locale ed un ulteriore backup nel cloud: mi preoccupo sempre di poter ridondare tutti i dati dei miei clienti in tre punti distribuiti geograficamente, nell'ottica di essere preparato in caso di <b>disaster recovery.</b>
        </p>

        <p>
            Infine studio. <b>Studio tanto.</b> Il mondo dell'informatica evolve ogni giorno e quello che ho scritto qui potrebbe non essere più attuale tra un mese: tranquillo, so come funziona. E lo amo. Aspettati da me di essere sempre al passo con i tempi e le innovazioni.
        </p>

    </div>
</section>

<partial name="_ContactSection" />
