@{
    var routeName = ViewContext.ActionDescriptor.AttributeRouteInfo.Name;
    ViewData["Title"] = routeName;
}

<h1>Al servizio delle tue idee</h1>
<h3>@routeName</h3>

<section class="grey-section">
    <article>
        <h1>Hai un'idea rivoluzionaria?</h1>
        <h3>Sei nel posto giusto!</h3>

        <p>
            Sono un professionista dello sviluppo software in grado di far decollare il tuo progetto. Posso sviluppare un'App, un sito web, un'applicazione desktop e aiutarti nella definizione dei requisiti e delle funzionalità di cui hai bisogno perché la tua idea si concretizzi.
        </p>
        <p>
            Se sei una <b>Startup</b> ed hai bisogno di un MVP da presentare, sono pronto a collaborare con te.
        </p>
    </article>
</section>

<article>
    <h1>Vuoi dare visibilità alla tua attività?</h1>
    <h3>Realizzo il tuo sito per te.</h3>

    <p>

    </p>
</article>

<section class="grey-section">
    <article>
        <h1>Hai un obiettivo specifico?</h1>
        <h3>Ti aiuto a raggiungerlo.</h3>

        <p>

        </p>
    </article>
</section>

<article>
    <h1>Cerchi un Full Stack Developer per ampliare il team della tua azienda?</h1>
    <h3>Sono la persona giusta.</h3>

    <p>
        Sono uno svilupatore software <b>Full Stack</b>, mi occupo sia di front-end che di back-end. Prediligo lo stack <b>Microsoft</b>: <em class="code-snippet">.NET</em>, <em class="code-snippet">.NET Core</em>, <em class="code-snippet">ASP .NET</em>, <em class="code-snippet">ASP .NET Core</em>, ma anche <em class="code-snippet">WPF</em> per le applicazioni desktop, ed ho una particolare predilezione per il mondo <em class="code-snippet">SQL Server</em> ed <em class="code-snippet">Azure</em>.
    </p>

    <p>
        Sono ossessionato dal chiarezza e dall'<b>espressività del codice</b>, è un mio marchio di fabbrica. Il codice che scrivo è pulito, ordinato, facilmente comprensibile, coerente e lineare. Presto molta attenzione alle <b>performance</b> - vengo dal mondo del <i>betting</i> e alla <i>debuggabilità</i> di ciò che sviluppo.
    </p>

    <p>
        Posso inserirmi nel tuo team anche con metodo <em class="code-snippet">Agile/Scrum</em>, <b>sviluppare parti di codice e interi progetti</b> per il quale al momento non hai abbastanza risorse, aiutarti nel <b>refactoring</b> o nella stesura di <em class="code-snippet">Unit Test</em> e <em class="code-snippet">Integration Test</em>. So integrarmi in modo significativo e costruttivo con i colleghi.
    </p>

    <p>
        Infine mi occupo di <em class="code-snippet">App Android</em> native in <em class="code-snippet">Kotlin</em> o <em class="code-snippet">Java</em>. Posso collaborare ad un progetto esistente o iniziarne uno nuovo.
    </p>
</article>

<section class="grey-section">
    <h4>Contattami</h4>
    <h1>Vuoi discutere di un progetto con me?</h1>
    <a asp-controller="Home" asp-action="Contacts" class="action-button">Scrivimi due righe!</a>
</section>
