@{
    var routeName = ViewContext.ActionDescriptor.AttributeRouteInfo.Name;
    ViewData["Title"] = routeName;
}

<div class="inner-header inner-header-applications">
    <h1>@routeName</h1>
    <h3>Imagine Software per il mondo enterprise</h3>
</div>

