@{
    var routeName = ViewContext.ActionDescriptor.AttributeRouteInfo.Name;
    ViewData["Title"] = routeName;
    ViewData["MetaDescription"] = "I prodotti ed i progetti di Imagine Software per il mondo enterprise, realizzati con cura e attenzione maniacale per i dettagli.";
}

<div class="inner-header inner-header-applications">
    <h1>@routeName</h1>
    <hr class="menu-separator" />
    <h3>Imagine Software per il mondo enterprise</h3>
</div>

<section class="breadcrumbs-section">
    <ol itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" asp-controller="Home" asp-action="Index"><span itemprop="name">Home</span></a>
            <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span itemprop="name">@routeName</span>
            <meta itemprop="position" content="2" />
        </li>
    </ol>
</section>

<section>
    <div class="section-content centered-section-content">

        <h2>SpandiGest</h2>
        <div class="header-with-image">
            @*<img class="project-logo left-image" src="~/images/logos/logo-boolli.png" alt="Il logo dell'applicazione Boolli" asp-append-version="true" />*@
            <h3>Il gestionale agricolo per il <b>controllo centralizzato</b> degli spandimenti</h3>
        </div>
        <a asp-controller="Applications" asp-action="SpandiGest" class="action-button">Approfondisci <i class="icon-right"></i></a>
    </div>

</section>

<section class="alt-section">
    <div class="section-content centered-section-content">

        <h2>Invoice Maker - Quick & Easy</h2>
        <div class="header-with-image">
            <img class="project-logo left-image" src="~/images/logos/logo-invoice-maker-quick-easy.png" alt="Il logo dell'App Invoice Maker - Quick & Easy" asp-append-version="true" />
            <h3>L'App pensata per i freelance e per chi deve <b>generare ricevute</b> al volo senza perdere tempo!</h3>
        </div>
        <a asp-controller="Applications" asp-action="InvoiceMaker" class="action-button">Approfondisci <i class="icon-right"></i></a>

    </div>
</section>
