@{
    var routeName = ViewContext.ActionDescriptor.AttributeRouteInfo.Name;
    ViewData["Title"] = routeName;
    ViewData["MetaDescription"] = "I progetti open source di Imagine Software, accessibili liberamente tramite GitHub: librerie, piccoli software, videogiochi.";
}

<div class="inner-header inner-header-projects">
    <h1>Il lato migliore della programmazione</h1>
    <h3>@routeName</h3>
</div>

<section class="breadcrumbs-section">
    <ol itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" asp-controller="Home" asp-action="Index"><span itemprop="name">Home</span></a>
            <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span itemprop="name">@routeName</span>
            <meta itemprop="position" content="2" />
        </li>
    </ol>
</section>

<section>
    <div class="section-content small-section-content centered-section-content">

        <h2>Boolli</h2>
        <div class="header-with-image">
            <img class="project-logo left-image" src="~/images/logos/logo-boolli.png" alt="Il logo dell'applicazione Boolli" asp-append-version="true" />
            <h3>L'interprete di espressioni booleane in C# che ti permette di implementare <b>sistemi di regole avanzati</b></h3>
        </div>
        <a asp-controller="OpenSourceProjects" asp-action="Boolli" class="action-button-secondary">Approfondisci <i class="icon-right"></i></a>

    </div>
</section>

<section class="dark-grey-section">
    <div class="section-content small-section-content centered-section-content">

        <h2>SmartScale 3000</h2>
        <div class="header-with-image">
            <img class="project-logo left-image" src="~/images/logos/logo-smart-scale.png" alt="Il logo dell'applicazione SmartScale3000" asp-append-version="true" />
            <h3>La bilancia intelligente, powered by AI e vincitrice dell'iSolutions Hackaton 2020</h3>
        </div>
        <a asp-controller="OpenSourceProjects" asp-action="SmartScale3000" class="action-button-secondary-on-dark">Approfondisci <i class="icon-right"></i></a>

    </div>
</section>

<section>
    <div class="section-content small-section-content centered-section-content">

        <h2>Starfall</h2>
        <div class="header-with-image">
            <img class="project-logo left-image" src="~/images/logos/logo-starfall.png" alt="Il logo del videogioco Starfall" asp-append-version="true" />
            <h3>Sei una stella caduta sulla Terra. Ti ritrovi in una selva oscura, in cerca della luce per tornare a casa...</h3>
        </div>
        <a asp-controller="OpenSourceProjects" asp-action="Starfall" class="action-button-secondary">Approfondisci <i class="icon-right"></i></a>

    </div>
</section>

<section class="dark-grey-section">
    <div class="section-content small-section-content centered-section-content">

        <h2>RestartOnCrash</h2>
        <div class="header-with-image">
            <img class="project-logo left-image" src="~/images/logos/logo-restart-on-crash.png" alt="Il logo dell'applicazione RestartOnCrash" asp-append-version="true" />
            <h3>La tua applicazione crasha ed hai bisogno di una <i>remediation</i> alla velocità della luce. <b>Riavviala in automatico!</b></h3>
        </div>
        <a asp-controller="OpenSourceProjects" asp-action="RestartOnCrash" class="action-button-secondary-on-dark">Approfondisci <i class="icon-right"></i></a>

    </div>
</section>

<section>
    <div class="section-content small-section-content centered-section-content">

        <h2>INFART</h2>
        <div class="header-with-image">
            <img class="project-logo left-image" src="~/images/logos/logo-infart.png" alt="Il logo del videogioco INFART" asp-append-version="true" />
            <h3>Una lotta contro il tempo per salvare la vivibilità della Terra tramite l'alimentazione. <b>Ognuno di noi può farlo!</b></h3>
        </div>
        <a asp-controller="OpenSourceProjects" asp-action="INFART" class="action-button-secondary">Approfondisci <i class="icon-right"></i></a>

    </div>
</section>

<section class="dark-grey-section">
    <div class="section-content small-section-content centered-section-content">

        <h2><span class="rellow-re">Re</span><span class="rellow-llow">llow</span></h2>
        <div class="header-with-image">
            <img class="project-logo left-image" src="~/images/logos/logo-rellow.png" alt="Il logo del videogioco Rellow" asp-append-version="true" />
            <h3>Concentrati o ti perderai in un bicchier d'acqua <b>colorata</b>!</h3>
        </div>
        <a asp-controller="OpenSourceProjects" asp-action="Rellow" class="action-button-secondary-on-dark">Approfondisci <i class="icon-right"></i></a>

    </div>
</section>

<partial name="_ContactSection" />
