@{
    var routeName = ViewContext.ActionDescriptor.AttributeRouteInfo.Name;
    ViewData["Title"] = routeName;
    ViewData["MetaDescription"] = "Rellow è un gioco di concentrazione: ti troverai di fronte ad una serie di pulsanti colorati dove lo scopo è premere quello giusto! Attenzione, i colori danno assuefazione, tipo il rosso, il giallo, il rallo, il glu.";
    ViewData["Main-Custom-Class"] = "rellow-page";
}

@section StructuredData {

    <script type="application/ld+json">
        {
            "@@context": "https://schema.org",
            "@@type": "GameApplication",
            "name": "Rellow",
            "url": "https://play.google.com/store/apps/details?id=com.francescobonizzi.rellow",
            "description": "@ViewData["MetaDescription"]",
            "operatingSystem": "ANDROID",
            "applicationCategory": "GAME_PUZZLE",
            "image": "https://www.imaginesoftware.it/images/logos/logo-rellow.png",
            "contentRating": "Everyone",
            @Html.Raw(Definitions.JSON_LD_AUTHOR),
            @Html.Raw(Definitions.JSON_LD_FREE_APP)
        }
    </script>

}

<div class="inner-header inner-header-projects">
    <h1>@routeName</h1>
    <h3>Rosso, giallo, rallo, glu</h3>
</div>

<partial name="_OpenSourceProjectsBreadcrumbs" model="new { ThisPageRouteName = @routeName }" />

<section class="first-section-padding centered-section-content">
    <img class="project-logo" src="~/images/logos/logo-rellow.png" alt="Il logo del videogioco RELLOW" asp-append-version="true" />
</section>

<div class="store-download-buttons-group">
    <a class="action-button" target="_blank" href="https://play.google.com/store/apps/details?id=com.francescobonizzi.rellow" title="Scarica RELLOW per Android"><i class="icon-android"></i> Scarica per Android</a>
    <a class="action-button" target="_blank" href="https://www.microsoft.com/store/apps/9N5JJ68QFBPB" title="Scarica RELLOW per Windows"><i class="icon-windows"></i> Scarica per Windows</a>
</div>

<section>
    <div class="section-content small-section-content">

        <p>
            <b><span class="rellow-re">Re</span><span class="rellow-llow">llow</span></b> è un gioco di <b>concentrazione</b>: ti troverai di fronte ad una serie di pulsanti colorati dove lo scopo è premere quello giusto! In alto vedrai una scritta che indicherà un colore, e tu dovrai proprio premere il pulsante del colore che la scritta descrive. La difficoltà sta nel fatto che la scritta è colorata di un colore diverso da quello che denota!
        </p>

        <p>
            All'inizio il gioco è molto semplice, ci sono solo tre pulsanti, ma continuando a vincere <b>la difficoltà aumenta</b>, fino a nove pulsanti diversi contemporaneamente; inoltre il tempo a disposizione per <i>pensare</i> si riduce sempre più!
        </p>

        <div class="image-paragraph show-on-scroll">
            <img class="rellow-screenshot" src="~/images/articles/rellow-game-screenshot-1.png" alt="Uno screenshot del videogioco Rellow durante una partita" asp-append-version="true" />
            <p>Uno screenshot di <b><span class="rellow-re">Re</span><span class="rellow-llow">llow</span></b> durante una partita</p>
        </div>

    </div>
</section>

<section class="dark-grey-section">
    <div class="section-content">

        <h2 class="inner-article-title"> <b><span class="rellow-re">Re</span><span class="rellow-llow">llow</span></b> ha anche avuto <b>una piccola parentesi sociale</b></h2>

        <img class="intermediate-article-image vertical-image left-image show-on-scroll" src="~/images/articles/sincerely-media-hands-photo-unsplash.jpg" alt="Foto di Sincerely Media su Unsplash" title="Foto di Sincerely Media su Unsplash" asp-append-version="true" />

        <p>
            Ne è stata sviluppata una versione espressamente <i>NOT game</i>, in seguito all'interesse mostrato da un amico psicoterapeuta professionista, il quale ne vide le potenzialità didattiche e formative in quanto <b>allenatore visio-manuale</b> per alcuni soggetti con scarsà motilità delle falangi.
        </p>

        <p>
            In tale versione di <b><span class="rellow-re">Re</span><span class="rellow-llow">llow</span></b> vennero apportate significative modifiche alla grafica ed alla velocità di autoapprendimento, affinché anche un impiego temporalmente importante del <i>coach</i> stesso consentisse di aumentare la coordinazione tra il visus e le falangi motili.
        </p>

    </div>
</section>

<section class="highlight-section">
    <div class="section-content">

        <h2>Un videogioco interamente gratis, open source</h2>
        <h3>e senza pubblicità</h3>

    </div>
</section>

<section>
    <div class="section-content">

        <h2 class="inner-article-title">Le caratteristiche di <b><span class="rellow-re">Re</span><span class="rellow-llow">llow</span></b></h2>

        <div class="rellow-animation intermediate-article-image left-image"></div>

        <p>
            <ul>
                <li>Un gioco di concentrazione per stimolare il tuo intelletto</li>
                <li>Coloratissimo!</li>
                <li>Grafica retrò in ricordo dei bei vecchi tempi</li>
                <li>Colonna sonora originale, composta dallo sviluppatore</li>
                <li>La difficoltà incrementa con la bravura del giocatore</li>
                <li>Ottimizzato per l'utilizzo della batteria dello smartphone</li>
            </ul>
        </p>

    </div>
</section>

<section class="dark-grey-section">
    <div class="section-content centered-section-content small-section-content">

        <h2 class="inner-article-title">La pagina di <i>game over</i> in <b><span class="rellow-re">Re</span><span class="rellow-llow">llow</span></b></h2>
        <div class="image-paragraph show-on-scroll">
            <img class="rellow-screenshot" src="~/images/articles/rellow-game-screenshot-gameover.png" alt="Uno screenshot della schermata di game over di Rellow" asp-append-version="true" title="Uno screenshot della schermata di game over di Rellow" />
        </div>

    </div>
</section>

<section>
    <div class="section-content">

        <h2 class="inner-article-title">Il gioco è gratis ed open source</h2>

        <p>
            Questo gioco è <b>interamente gratis</b> ed <b>open source</b>: non utilizza alcuna libreria tracciante, nessun log per monitorare l'utilizzo da parte degli utenti, <b>nessuna pubblicità</b>.
        </p>

        <p>
            Ed è <b>multipiattaforma</b>: potete provarlo sia su Android che su Windows, ma su Mac non ho mai provato! 😁
        </p>

        <p>
            Ho sviluppato il gioco in <em class="code-snippet">C#</em>, utilizzando due librerie anch'esse open source:
            <ul>
                <li><a class="outside-link" href="https://github.com/MonoGame" target="_blank" title="Visita la pagina Github di MonoGame">MonoGame</a>, il nuovo <i>XNA framework</i></li>
                <li><a class="outside-link" href="https://github.com/FrancescoBonizzi/FbonizziMonoGame" target="_blank" title="Visita la pagina Github di FbonizziMonoGame">FbonizziMonoGame</a>, una libreria che ho sviluppato io per semplificarmi gli sviluppi</li>
            </ul>
        </p>

        <p>
            Il codice di <b><span class="rellow-re">Re</span><span class="rellow-llow">llow</span></b> è interamente <a class="outside-link" href="https://github.com/FrancescoBonizzi/Rellow" target="_blank" title="Vai alla pagina GitHub di Rellow">accessibile su GitHub</a> ed è aperto alla collaborazione da parte di tutti!
        </p>

    </div>
</section>
