@{
    var routeName = ViewContext.ActionDescriptor.AttributeRouteInfo.Name;
    ViewData["Title"] = routeName;
    ViewData["MetaDescription"] = "SmartScale3000 è la bilancia intelligente che manca nei supermercati di tutto il mondo! Vincitore dell'Hackaton Hackfork 2020 organizzato da iSolutions!";
}

@section StructuredData {

    <script type="application/ld+json">
        {
            "@@context": "https://schema.org",
            "@@type": "SoftwareApplication",
            "name": "SmartScale3000",
            "description": "@ViewData["MetaDescription"]",
            "operatingSystem": "Windows",
            "applicationCategory": "Software",
            "url": "https://github.com/FrancescoBonizzi/SmartScale3000",
            "image": "https://www.imaginesoftware.it/images/logos/logo-smart-scale.png",
            "contentRating": "Everyone",
            @Html.Raw(Definitions.JSON_LD_AUTHOR),
            @Html.Raw(Definitions.JSON_LD_FREE_APP)
        }
    </script>

}

<div class="inner-header inner-header-projects">
    <h1>@routeName</h1>
    <hr class="menu-separator" />
    <h3>La bilancia intelligente</h3>
</div>

<partial name="_OpenSourceProjectsBreadcrumbs" model="new { ThisPageRouteName = @routeName }" />

<section class="first-section-padding centered-section-content">
    <img class="project-logo" src="~/images/logos/logo-smart-scale.png" alt="Il logo dell'applicazione SmartScale3000" asp-append-version="true" />
</section>

<section class="white-section">
    <div class="section-content after-logo-section-content">

        <p>
            Nel 2020 abbiamo presentato <b>SmartScale3000</b>, la bilancia intelligente <i>powered by AI</i>, all'hackaton <i>Hackfork</i> organizzato da <a class="outside-link" target="_blank" rel="noopener" href="https://www.isolutions.it/news-hackathon012020_2.html" title="Visita la pagina che parla di Hackfork sul sito di iSolutions">iSolutions</a>.
        </p>

        <div class="image-paragraph show-on-scroll">
            <img src="~/images/articles/smartscale-hackaton-office.jpg" alt="Un'immagine dei team in gara, scattata il giorno dell'hackaton Hackfork nel 2020" asp-append-version="true" />
            <p>Le squadre durante il <i>briefing</i></p>
        </div>

        <p>
            Tutti conoscono le bilance dell'ortofrutta, con le quali ogni settimana pesiamo e prezziamo i prodotti: noi <b>ne abbiamo implementata una intelligente</b> che riconosce automaticamente cosa stai pesando, senza bisogno di ricordarsi il numero o premere il pulsante corretto: <b>fa tutto da sola!</b>
        </p>

        <img class="intermediate-article-image left-image show-on-scroll" src="~/images/articles/smartscale-hackaton-app-screenshot-1.jpg" alt="Uno screenshot dell'applicazione SmartScale3000 in esecuzione" asp-append-version="true" title="Uno screenshot del frontend di SmartScale3000 mentre pesa delle arance" />

        <p>
            Abbiamo realizzato la bilancia in 24 ore, con un cella di carico e <a class="outside-link" href="https://www.arduino.cc/" target="_blank" rel="noopener" title="Il sito ufficiale di Arduino">Arduino</a>. Arduino invia le pesate in centesimi di grammo ad un <i>broker</i> <em class="code-snippet">MQTT</em> appoggiato su un mini router che sta nel palmo della mano.
        </p>

        <p>
            Un dispositivo - in questo caso un PC, ma poteva essere anche molto meno - riceve i dati e quando la pesata è <i>stabile</i> scatta una foto. La foto viene processata da un rete neurale trainata con <a class="outside-link" href="https://www.tensorflow.org/" target="_blank" rel="noopener" title="Visita il sito ufficiale di TensorFlow">TensorFlow</a> ed eseguita da <a class="outside-link" href="https://dotnet.microsoft.com/apps/machinelearning-ai/ml-dotnet" title="Visita il sito ufficiale di ML. NET" target="_blank">ML .NET</a>, fino ad ottenere il nome del prodotto.
        </p>

        <p>
            Da lì il frontend realizzato in <em class="code-snippet">WPF</em> calcola il prezzo, genera il codice a barre, mostra il risultato ed invia ad un broker il risultato in modo da salvarlo in uno storage per future analisi.
        </p>

    </div>
</section>

<section class="highlight-section">
    <div class="section-content">

        <h2>
            Il progetto vincitore<br />dell'hackaton <i>Hackfork</i><br />organizzato da iSolutions<br />a tema <i>food</i>
        </h2>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">

        <h2>Il nostro kit hardware e software</h2>

        <p>
            <ul>
                <li>Un computer portatile per eseguire il frontend</li>
                <li><b>Arduino</b></li>
                <li>Una cella di carico per Arduino</li>
                <li>Un modulo Wifi per Arduino</li>
                <li>Un mini router Wifi per creare una rete privata e mettere in comunicazione Arduino con il frontend</li>
                <li>Una WebCam 1080p</li>
                <li>Framework di frontend: <em class="code-snippet">WPF</em>, su Windows</li>
                <li>Framework di machine learning: <em class="code-snippet">TensorFlow</em> ed <em class="code-snippet">ML.NET</em></li>
            </ul>
        </p>

    </div>
</section>

<section class="white-section">
    <div class="section-content">

        <div class="image-paragraph show-on-scroll">
            <img src="~/images/articles/smartscale-hackaton-office-selfie-of-victory.jpg" alt="La foto dei vincitori dell'Hackaton Hackfork" asp-append-version="true" />
            <p>La foto dei vincitori dell'Hackaton Hackfork</p>
        </div>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">

        <h2>Il tema <i>food</i></h2>

        <p>
            Questa è stata la prima hackaton italiana <b>dedicata al cibo</b>, alla nutrizione e all'automazione agroalimentare. Lo scopo della competizione era di creare un prodotto sul tema della filiera alimentare dalla produzione alla logistica, dalla vendita fino arrivare alla ristorazione.
        </p>

    </div>
</section>

<section class="white-section">
    <div class="section-content">

        <h2>Contribuire</h2>

        <p>
            Il mondo dell'open source è meraviglioso proprio perché ognuno può dare il proprio contributo ed aiutare chissà chi nel mondo!
        </p>

        <p>
            Il codice di <b>SmartScale3000</b> è interamente <a class="outside-link" href="https://github.com/FrancescoBonizzi/SmartScale3000" target="_blank" rel="noopener" title="Vai alla pagina GitHub di SmartScale3000">open source su GitHub</a> ed è aperta alla collaborazione da parte di tutti. Troverete il frontend al path <em class="code-snippet">source/SmartWeightDevice</em>, e la parte di Arduino in <em class="code-snippet">source/sensore</em>.
        </p>

    </div>
</section>
