@{
    var routeName = ViewContext.ActionDescriptor.AttributeRouteInfo.Name;
    ViewData["Title"] = routeName;
}

<div class="inner-header inner-header-projects">
    <h1>@routeName</h1>
    <h3>Mi ritrovai per una selva oscura...</h3>
</div>

<partial name="_OpenSourceProjectsBreadcrumbs" model="new { ThisPageRouteName = @routeName }" />

<div class="first-article-padding centered-section">
    <img class="project-logo" src="~/images/logos/logo-starfall.png" alt="Il logo del videogioco Starfall" asp-append-version="true" />
</div>

<div class="store-download-buttons-group">
    <a class="action-button" target="_blank" href="https://play.google.com/store/apps/details?id=com.francescobonizzi.starfall" title="Scarica Starfall per Android"><i class="icon-android"></i> Scarica per Android</a>
    <a class="action-button" target="_blank" href="https://www.microsoft.com/it-it/p/starfall-free/9mw4t75wzr28" title="Scarica Starfall per Windows"><i class="icon-windows"></i> Scarica per Windows</a>
</div>

<article>
    <p>
        <b>Sei una stella caduta sulla Terra.</b> Ti ritrovi in una selva oscura in cerca della via per risalire verso casa. Sei priva di energie e ti servono le luci per recuperare le forze e riuscire a volare.
    </p>

    <p>
        Attenzione, però, durante il cammino i buchi neri cercheranno di assorbirti!
    </p>

    <div class="image-paragraph">
        <img src="~/images/articles/starfall-game-screenshot-1.png" alt="Uno screenshot del videogioco Starfall durante una partita" asp-append-version="true" />
        <p>Uno screenshot del videogioco</p>
    </div>

    <p>
        <b>Starfall</b> è un videogioco a scorrimento orizzontale - un'<i>infinite scroll</i> - <b>il cui mondo evolve nel tempo.</b> La tua capacità di volare dipende dalla luce che interiorizzi e si può ridurre se inglobi troppo buio...
    </p>
</article>

<section class="article-section sub-section-title-section">
    <article>

        <h2>Un videogioco interamente gratis, open source</h2>
        <h3>e senza pubblicità</h3>

    </article>
</section>

<article class="article-padding">
    <h2 class="inner-article-title">Le caratteristiche di Starfall</h2>

    <div class="starfall-animation intermediate-article-image left-image"></div>

    <p>
        <ul>
            <li>Un livello completo a difficoltà incrementale</li>
            <li>Tre elementi di sfida: luci catturate, tempo di volo, tempo di gioco</li>
            <li>Colonna sonora originale, composta dallo sviluppatore</li>
            <li>Disegni d'autore e composizione grafica con fotografie</li>
            <li>Una breve, ma significativa storia</li>
            <li>Ottimizzato per l'utilizzo della batteria dello smartphone</li>
        </ul>
    </p>
</article>

<section class="article-section sub-section">
    <h2 class="inner-article-title">Uno screenshot del menu principale di <em class="code-snippet">Starfall</em></h2>
    <div class="image-paragraph">
        <img src="~/images/articles/starfall-game-screenshot-menu.png" alt="Uno screenshot del menù principale di Starfall" asp-append-version="true" title="Uno screenshot del menù principale di Starfall" />
    </div>
</section>

<article class="article-padding">
    <h2 class="inner-article-title">Il gioco è gratis ed open source</h2>

    <p>
        Questo gioco è <b>interamente gratis</b> ed <b>open source</b>: non utilizza alcuna libreria tracciante, nessun log per monitorare l'utilizzo da parte degli utenti, <b>nessuna pubblicità</b>.
    </p>

    <p>
        Ed è <b>multipiattaforma</b>: potete provarlo sia su Android che su Windows, ma su Mac non ho mai provato! 😁
    </p>

    <p>
        Ho sviluppato il gioco in <em class="code-snippet">C#</em>, utilizzando due librerie anch'esse open source:
        <ul>
            <li><a class="outside-link" href="https://github.com/MonoGame" target="_blank" title="Visita la pagina Github di MonoGame">MonoGame</a>, il nuovo <i>XNA framework</i></li>
            <li><a class="outside-link" href="https://github.com/FrancescoBonizzi/FbonizziMonoGame" target="_blank" title="Visita la pagina Github di FbonizziMonoGame">FbonizziMonoGame</a>, una libreria che ho sviluppato io per semplificarmi gli sviluppi</li>
        </ul>
    </p>

    <p>
        Il codice di <em class="code-snippet">Starfall</em> è interamente <a class="outside-link" href="https://github.com/FrancescoBonizzi/StarfallGame" target="_blank" title="Vai alla pagina GitHub di Starfall">accessibile su GitHub</a> ed è aperto alla collaborazione da parte di tutti!
    </p>
</article>
