@{
    var routeName = ViewContext.ActionDescriptor.AttributeRouteInfo.Name;
    ViewData["Title"] = routeName;
    ViewData["MetaDescription"] = "Sei una stella caduta sulla Terra. Ti ritrovi in una selva oscura in cerca della via per risalire verso casa. Sei priva di energie e ti servono le luci per recuperare le forze e riuscire a volare.";
}

@section StructuredData {

    <script type="application/ld+json">
        {
            "@@context": "https://schema.org",
            "@@type": "GameApplication",
            "name": "Starfall",
            "url": "https://play.google.com/store/apps/details?id=com.francescobonizzi.starfall",
            "description": "@ViewData["MetaDescription"]",
            "operatingSystem": "ANDROID",
            "applicationCategory": "GAME_ACTION",
            "image": "https://www.imaginesoftware.it/images/logos/logo-starfall.png",
            "contentRating": "Everyone",
            @Html.Raw(Definitions.JSON_LD_AUTHOR),
            @Html.Raw(Definitions.JSON_LD_FREE_APP)
        }
    </script>

}

<div class="inner-header inner-header-projects">
    <h1>@routeName</h1>
    <hr class="menu-separator" />
    <h3>Mi ritrovai per una selva oscura...</h3>
</div>

<partial name="_OpenSourceProjectsBreadcrumbs" model="new { ThisPageRouteName = @routeName }" />

<section class="first-section-padding centered-section-content">
    <img class="project-logo" src="~/images/logos/logo-starfall.png" alt="Il logo del videogioco Starfall" asp-append-version="true" />
</section>

<div class="store-download-buttons-group">
    <a class="action-button" target="_blank" rel="noopener" href="https://play.google.com/store/apps/details?id=com.francescobonizzi.starfall" title="Scarica Starfall per Android"><i class="icon-android"></i> Scarica per Android</a>
    <a class="action-button" target="_blank" rel="noopener" href="https://www.microsoft.com/it-it/p/starfall-free/9mw4t75wzr28" title="Scarica Starfall per Windows"><i class="icon-windows"></i> Scarica per Windows</a>
</div>

<section class="white-section">
    <div class="section-content">

        <p>
            <b>Sei una stella caduta sulla Terra.</b> Ti ritrovi in una selva oscura in cerca della via per risalire verso casa. Sei priva di energie e ti servono le luci per recuperare le forze e riuscire a volare.
        </p>

        <p>
            Attenzione, però, durante il cammino i buchi neri cercheranno di assorbirti!
        </p>

        <div class="image-paragraph show-on-scroll">
            <img src="~/images/articles/starfall-game-screenshot-1.png" alt="Uno screenshot del videogioco Starfall durante una partita" asp-append-version="true" />
            <p>Uno screenshot del videogioco</p>
        </div>

        <p>
            <b>Starfall</b> è un videogioco a scorrimento orizzontale - un'<i>infinite scroll</i> - <b>il cui mondo evolve nel tempo.</b> La tua capacità di volare dipende dalla luce che interiorizzi e si può ridurre se inglobi troppo buio...
        </p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">

        <h2>Sviluppato con un amico</h2>

        <p>
            Ho sviluppato <b>Starfall</b> insieme ad un amico artista e fotografo: <a href="https://www.linkedin.com/in/marco-oppici-b43471187" rel="nofollow" target="_blank" rel="noopener" title="Il profilo LinkedIn di Marco" class="outside-link">Marco Oppici</a>.
        </p>

        <p>
            Un giorno Marco è venuto a trovarmi, abbiamo fatto una passeggiata, mi ha mostrato alcune foto di alberi che aveva scattato in montagna e ci è venuta l'idea: <i>perché non resti qui tutto il weekend e proviamo a sviluppare un videogioco in tre giorni con le tue foto?</i>
        </p>

        <p>
            <b>E così è stato.</b>
        </p>

        <p>
            Marco è un mago di strumenti di fotoritocco, ha un occhio clinico che io ancora non ho, ed intanto che scrivevo tutto il codice, lui mi preparava gli sfondi in parallasse, disegnava la stella protagonista del gioco e la animava con <a href="https://brashmonkey.com/spriter-pro/" target="_blank" rel="noopener" title="L'applicazione di animazione Spriter" class="outside-link">Spriter</a>.
        </p>

    </div>
</section>

<section class="highlight-section">
    <div class="section-content">

        <h2>Un videogioco interamente gratis,<br />open source</h2>
        <h3>e senza pubblicità</h3>

    </div>
</section>

<section class="white-section">
    <div class="section-content">

        <h2>Le caratteristiche di <b>Starfall</b> </h2>

        <div class="starfall-animation intermediate-article-image left-image"></div>

        <p>
            <ul>
                <li>Un livello completo a difficoltà incrementale</li>
                <li>Tre elementi di sfida: luci catturate, tempo di volo, tempo di gioco</li>
                <li>Colonna sonora originale, composta dallo sviluppatore</li>
                <li>Disegni d'autore e composizione grafica con fotografie</li>
                <li>Una breve, ma significativa storia</li>
                <li>Ottimizzato per l'utilizzo della batteria dello smartphone</li>
            </ul>
        </p>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">
        <h2>Uno screenshot del menù principale<br />di <b>Starfall</b></h2>
        <div class="image-paragraph show-on-scroll">
            <img src="~/images/articles/starfall-game-screenshot-menu.png" alt="Uno screenshot del menù principale di Starfall" asp-append-version="true" title="Uno screenshot del menù principale di Starfall" />
        </div>
    </div>
</section>

<section class="white-section">
    <div class="section-content">

        <h2>Il gioco è gratis ed open source</h2>

        <p>
            Questo gioco è <b>interamente gratis</b> ed <b>open source</b>: non utilizza alcuna libreria tracciante, nessun log per monitorare l'utilizzo da parte degli utenti, <b>nessuna pubblicità</b>.
        </p>

        <p>
            Ed è <b>multipiattaforma</b>: potete provarlo sia su Android che su Windows, ma su Mac non ho mai provato! 😁
        </p>

        <p>
            Ho sviluppato il gioco in <em class="code-snippet">C#</em>, utilizzando due librerie anch'esse open source:
            <ul>
                <li><a class="outside-link" href="https://github.com/MonoGame" target="_blank" rel="noopener" title="Visita la pagina Github di MonoGame">MonoGame</a>, il nuovo <i>XNA framework</i></li>
                <li><a class="outside-link" href="https://github.com/FrancescoBonizzi/FbonizziMonoGame" target="_blank" rel="noopener" title="Visita la pagina Github di FbonizziMonoGame">FbonizziMonoGame</a>, una libreria che ho sviluppato io per semplificarmi gli sviluppi</li>
            </ul>
        </p>

        <p>
            Il codice di <b>Starfall</b> è interamente <a class="outside-link" href="https://github.com/FrancescoBonizzi/StarfallGame" target="_blank" rel="noopener" title="Vai alla pagina GitHub di Starfall">accessibile su GitHub</a> ed è aperto alla collaborazione da parte di tutti!
        </p>

    </div>
</section>
