---
layout: skeleton
permalink: services

metaTitle: Servizi
metaDescription: "L'offerta esclusiva di Imagine Software: il miglior professionista dello sviluppo software al servizio delle tue idee."
subtitle: Cosa Imagine Software può fare per te

jsonLd: 
---

<div class="article-header">
    <h1>{{ page.metaTitle }}</h1>
    <h2>{{ page.subtitle }}</h2>
</div>

{% include oneLevelBreadcrumbcs.html %}

<div class="section-separator-with-margin-from-header"></div>

{% for serviceSection in site.servicesSections %} 

    {% assign sectionClassName = 'alt-section' %} 
    {% assign restoDivisione = forloop.index | modulo:2 %} 
    {% if restoDivisione == 0 %} 
        {% assign sectionClassName = 'white-section' %} 
    {% endif %}

    <section class="{{ sectionClassName }}">
        <div class="fullscreen-section-content">
            <h3>{{ serviceSection.title }}</h3>
            <div class="section-separator"></div>

            {% if serviceSection.subtitle and serviceSection.subtitle != '' %}
                <div class="section-separator"></div>
            {% endif %} 
            
            {{ serviceSection.content | markdownify }}

            <br />

            {% if restoDivisione == 0 %} 
                <a href="{{ site.url }}/contacts" class="action-button">CONTATTAMI</a>
            {% endif %}
        </div>
    </section>

{% endfor %}
