<!DOCTYPE html>

<html lang="it" dir="ltr">
    <head>
        <meta charset="utf-8" />

        <!-- MAKE IT RESPONSIVE, YEAH! -->
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

        <!-- FAVICON -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/images/favicons/apple-touch-icon.png?v=cmjPEpoJwgMALjNe33VssdHDSyjx7C96YJ9yYlq91io" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/images/favicons/favicon-32x32.png?v=3t0Uj8HtK3YaCdZTSQiwrPvsPCluMt/kfaHgzdFaaXQ" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/images/favicons/favicon-16x16.png?v=4tpwLOJf9sPWwaY5FVg9/RKfRphA27H+xDayo+F5Mrw" />
        <link rel="mask-icon" href="{{ site.url }}/assets/images/favicons/safari-pinned-tab.svg?v=Kq+UrVMEjS0/mcXhDhf5zszFEwAAI0AORCIsjl/aiZo" color="#313d55" />
        <link rel="shortcut icon" href="{{ site.url }}/assets/images/favicons/favicon.ico?v=IKa+nMZt09rRTiVC42ONQBSdat8+6ztGJVIvcIeZyjI" />
        <meta name="theme-color" content="#313d55" />

        <!-- SEO -->
        <title>{{ page.metaTitle }} - Imagine Software</title>
        <meta name="description" content="{{ page.metaDescription }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ page.metaTitle }} - Imagine Software" />
        <meta property="og:description" content="{{ page.metaDescription }}" />
        <meta property="og:site_name" content="Imagine Software" />
        <meta property="og:locale" content="it_IT" />
        <meta property="og:image" content="{{ site.url }}/assets/images/{{ page.ogImage }}" />
        <meta name="author" content="Francesco Bonizzi" />

        <link rel="canonical" href="{{ site.url }}{{ page.permalink }}" />

        <!-- STRUCTURED DATA -->
        {% if page.jsonLd and page.jsonLd != '' %}
        <script type="application/ld+json">
            {{ page.jsonLd }}
        </script>
        {% endif %}

        <!-- STYLESHEETS -->
        <link href="{{ site.url }}/assets/css/style.css" rel="stylesheet" />
    </head>

    <body>
        <header>
            <div class="header-content">
                <a href="/" id="home-button-link">
                    <img
                        height="78"
                        src="{{ site.url }}/assets/images/logos/logo-imagine-software.png?v=uAJphjTNwcyvJJH2RiytBJQDgDNHz3TATnfukjGoo2E"
                        alt="Il logo di Imagine Software"
                        title="Imagine Software"
                    />
                </a>

                <div id="top-nav">
                    <ul>
                        {% for item in site.data.nav %}
                        <li>
                            <a href="{{ item.link }}" {% if page.url == item.link %}class="current-page"{% endif %}>
                                {{ item.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </header>

        <nav id="hamburger-menu-button">
            <input type="checkbox" id="overlay-menu-input" />
            <label for="overlay-menu-input" id="overlay-menu-button"><em id="overlay-menu-text"></em><span></span></label>
            <div id="overlay-menu">
                <ul>
                    {% for item in site.data.nav %}
                    <li>
                        <a href="{{ item.link }}" {% if page.url == item.link %}class="current-page"{% endif %}>
                            {{ item.name }}
                        </a>
                    </li>
                  {% endfor %}
                </ul>
            </div>
        </nav>

        <main {% if page.customMainClass and page.customMainClass != '' %}class="{{ page.customMainClass }}"{% endif %}>{{ content }}</main>

        <footer>
            <div class="bottom-menu-section">
                <img
                    src="{{ site.url }}/assets/images/logos/logo-imagine-software-footer.png?v=Jp4DvqjBH1o3DxMX/sMlnmHIl8yXhaQyjl+MJfXcEwY"
                    alt="Il logo di Imagine Software"
                    title="Imagine Software"
                />

                <div>
                    <ul>
                        <li class="footer-section-title">Link</li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/services">Servizi</a></li>
                        <li><a href="/projects-apps">Applicazioni</a></li>
                        <li><a href="/open-source-projects">Progetti open source</a></li>
                        <li><a href="/francesco-bonizzi">Francesco Bonizzi</a></li>
                    </ul>
                </div>

                <div>
                    <ul>
                        <li class="footer-section-title">Contatti</li>
                        <li>
                            <i class="icon-email"></i>
                            <span title="Scrivimi due righe per email!"
                                ><a href="mailto:{{ site.email }}">{{ site.email }}</a></span
                            >
                        </li>

                        <li>
                            <i class="icon-telegram" title="L'icona dell'App di messaggistica Telegram"></i>
                            <a href="https://telegram.me/fbonizzi" title="Scrivimi due righe tramite Telegram"
                                >{{ site.telegram }}</a
                            >
                        </li>

                        <li>
                            <i class="icon-linkedin icon-small-for-footer" title="L'icona del social network LinkedIn"></i>
                            <a
                                target="_blank"
                                rel="noopener"
                                href="{{ site.linkedin }}"
                                title="Visita il mio profilo LinkedIn"
                                >LinkedIn</a
                            >
                        </li>

                        <li>
                            <i class="icon-github icon-small-for-footer" title="L'icona di GitHub"></i>
                            <a target="_blank" rel="noopener" href="{{ site.github }}" title="Visita il mio profilo GitHub"
                                >GitHub</a
                            >
                        </li>

                        <li class="footer-link-contact">
                            <i class="icon-email"></i>
                            <a href="/contacts" title="Scrivimi direttamente dal sito!">Modulo di contatto</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="last-footer-section">
                <p>
                    <a href="/privacy-policy" title="Leggi l'informativa sulla privacy">Informativa sulla privacy</a>
                </p>
                <p>&copy; 2021, Imagine Software di Bonizzi Francesco. Partita IVA: {{ site.piva }}</p>
            </div>
        </footer>

        <script src="{{ site.url }}/assets/js/site.js?v=9Oeip/46qRTxPCIkpV2rF0xeids4i6/VyAHtD9DpQHw"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                initializeImagesAnimations();
            });
        </script>

        {{ page.scripts }}
    </body>
</html>
