@{
    var routeName = ViewContext.ActionDescriptor.AttributeRouteInfo.Name;
    ViewData["Title"] = "Vuoi discutere di un progetto? Scrivimi!";
    ViewData["MetaDescription"] = "Vuoi conoscere i miei servizi, parlarmi di un progetto o di una collaborazione? Scrivimi due righe senza impegno! Sono disponibile anche su Telegram!";
}

<noscript>
    <style>
        /* Se javascript è disabilitato non mostro la form */
        #main-content {
            display: none;
        }
    </style>
</noscript>

<div class="inner-header">
    <h1>Vuoi discutere di un progetto<br />  o di una folle idea?</h1>
    <hr class="menu-separator" />
    <h3>Scrivimi due righe.</h3>
</div>

<partial name="_OnePageFromHomeBreadcrumbs" model="new { ThisPageRouteName = @routeName }" />

<section class="white-section">
    <div class="section-content">

        <p>
            Se vuoi discutere di un progetto, di un'idea, se vuoi capire quali sono le mie conoscenze ed esperienza per inserirmi nel tuo team di sviluppo, <b>puoi scrivermi quando vuoi.</b><br /><br />
            Sarò molto felice di conoscerti e di parlare con te!
        </p>

        <a href="~/contents/Francesco-Bonizzi-VCard.vcf" class="action-button download-my-vcard">Scarica il mio contatto sul telefono</a>

        <div class="quick-contacts">
            <ul>
                <li>
                    <span class="quick-contact-label"><i class="icon-email"></i>Email:</span>
                    <span title="Scrivimi due righe per email!"><a class="outside-link" href="mailto:@Definitions.Email">@Definitions.Email</a></span>
                </li>
                <li>
                    <span class="quick-contact-label"><i class="icon-telegram"></i>Telegram:</span>
                    <a class="outside-link link-telegram" href="https://telegram.me/fbonizzi" title="Scrivimi due righe tramite Telegram">@@fbonizzi</a>
                </li>
                <li>
                    <span class="quick-contact-label"><i class="icon-linkedin"></i>LinkedIn:</span>
                    <a class="outside-link" href="https://www.linkedin.com/in/fbonizzi/" title="Scrivimi due righe tramite LinkedIn">/fbonizzi</a>
                </li>
            </ul>
        </div>

    </div>
</section>