@{
    ViewData["Title"] = "Design, sviluppo, integrazione di software e App";
    ViewData["MetaDescription"] = "Imagine Software: design, sviluppo, integrazione di software e App. Rendo le tue idee realtà, accresco il valore del tuo team di sviluppo.";
}

@section StructuredData {

    <script type="application/ld+json">
    {
        "@@context": "https://schema.org",
        "@@type": "Organization",
        @Html.Raw(Definitions.JSON_LD_ORGANIZATION_DETAILS)
    }
    </script>

}

<section class="homepage-section">

    <div class="homepage-header">
        <h1>Design, sviluppo, integrazione<br /> di software e App</h1>
        <hr class="menu-separator" />
        <h3>Una buona idea decolla con un'esecuzione perfetta</h3>
    </div>

    <div class="section-content-landing">
        <div class="shortcuts-list">
            <ul class="shortcuts-list-home">

                <li>
                    <div class="shortcuts-list-title-container">
                        <img src="~/vectors/team.jpg" asp-append-version="true" alt="L'immagine di mani che si stringono, ad indicare il lavoro di squadra" />
                    </div>
                    <span>Cerchi un nuovo sviluppatore?</span>
                    <p>
                        Come sviluppatore software <b>full stack</b> mi occupo sia di front-end che di back-end. Sono esperto dello stack Microsoft: <b>.NET Core</b>, <b>ASP .NET Core</b>, ma anche <b>WPF</b> per le app desktop, ed ho una particolare predilezione per <b>SQL Server</b> ed <b>Azure</b>.
                    </p>
                    <a asp-controller="Home" asp-action="Services" class="action-button-secondary" asp-fragment="section-full-stack">Approfondisci</a>
                </li>

                <li>
                    <div class="shortcuts-list-title-container">
                        <img src="~/vectors/rocket.jpg" asp-append-version="true" alt="L'immagine di un razzo per rappresentare le startup" />
                    </div>
                    <span>Hai un'idea rivoluzionaria?</span>
                    <p>
                        Sei una <b>start-up</b> o una piccola azienda? Hai bisogno di un <b>minimum viable product</b> da presentare agli investitori? Posso aiutarti a trasformare la tua idea in un <b>prototipo</b> funzionante, ma anche seguirti nelle fasi successive del progetto.
                    </p>
                    <a asp-controller="Home" asp-action="Services" class="action-button-secondary" asp-fragment="section-startup">Approfondisci</a>
                </li>

                <li>
                    <div class="shortcuts-list-title-container">
                        <img src="~/vectors/target.jpg" asp-append-version="true" alt="L'immagine di un bersaglio, per rappresentare gli obiettivi di un'azienda" />
                    </div>
                    <span>Hai un obiettivo specifico?</span>
                    <p>
                        Hai un processo aziendale che richiede tanto tempo e risorse? Posso aiutarti a <b>digitalizzarlo</b> e automatizzarlo, garantendoti così una <b>soluzione</b> efficace per migliorare le tue performance nel lungo termine.
                    </p>
                    <a asp-controller="Home" asp-action="Services" class="action-button-secondary" asp-fragment="section-i-already-know">Approfondisci</a>
                </li>

            </ul>
        </div>
    </div>
</section>

<section class="grey-section">
    <div class="section-content centered-section-content">
        <h2 class="contact-title">Vuoi parlare<br /> del tuo progetto con me?</h2>
        <a asp-controller="Home" asp-action="Contacts" class="action-button button-top-margin">Contattami!</a>
    </div>
</section>

<section class="white-section">
    <div class="section-content">

        <h2>Sono uno sviluppatore full stack</h2>
        <h3>.NET e Android</h3>
        <div class="header-separator"></div>

        <img class="intermediate-article-image francesco-bonizzi-photo-for-homepage vertical-image-medium left-image show-on-scroll" src="~/images/articles/Francesco-Bonizzi.png" alt="Una foto di Francesco Bonizzi, sviluppatore software" asp-append-version="true" />

        <p>
            Mi chiamo <a class="outside-link" asp-controller="Home" asp-action="Francesco" title="Leggi la mia esperienza">Francesco Bonizzi</a> e ho fondato <b>Imagine Software</b>. Sono un coltellino svizzero dello sviluppo software: ho iniziato la mia formazione all'Università degli studi di Parma, ho concretizzato i miei primi passi nel mondo on-prem <i>business critical</i> del betting e ho chiuso la mia carriera da dipendente verticalizzandomi sui clienti e sui servizi <i>cloud first</i>.
        </p>

        <br />

        <a asp-controller="Home" asp-action="Francesco" class="action-button">Leggi la mia esperienza</a>

    </div>
</section>

<section class="alt-section">
    <div class="centered-section-content section-content">

        <h2>Le principali tecnologie<br /> con cui lavoro</h2>

        <div class="logo-gallery opensource-logos">

            <div class="logo-gallery-block">
                <a title="Il sito ufficiale di Microsoft .NET" href="https://dotnet.microsoft.com/" target="_blank" rel="noopener">
                    <div class="logo-outline">
                        <img src="~/images/logos/logo-dot-net.png" asp-append-version="true" alt="Il logo di Microsoft .NET" />
                    </div>
                    <span class="logo-gallery-name">.NET</span>
                </a>
            </div>

            <div class="logo-gallery-block">
                <a title="Il sito ufficiale di Microsoft SQL Server" href="https://www.microsoft.com/it-it/sql-server/sql-server-downloads" rel="noopener" target="_blank">
                    <div class="logo-outline">
                        <img src="~/images/logos/logo-sql-server.png" asp-append-version="true" alt="Il logo di Microsoft SQL Server" />
                    </div>
                    <span class="logo-gallery-name">SQL Server</span>
                </a>
            </div>

            <div class="logo-gallery-block">
                <a title="Il sito ufficiale di Microsoft Azure (servizio cloud)" href="https://azure.microsoft.com/it-it/" target="_blank" rel="noopener">
                    <div class="logo-outline">
                        <img src="~/images/logos/logo-azure.png" asp-append-version="true" alt="Il logo di Microsoft Azure (servizio cloud)" />
                    </div>
                    <span class="logo-gallery-name">Azure</span>
                </a>
            </div>

            <div class="logo-gallery-block">
                <a title="Javascript presso la Mozilla foundation" rel="noopener" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript?retiredLocale=it" target="_blank">
                    <div class="logo-outline">
                        <img src="~/images/logos/logo-javascript.png" asp-append-version="true" alt="Il logo non ufficiale di Javascript" />
                    </div>
                    <span class="logo-gallery-name">Javascript</span>
                </a>
            </div>

            <div class="logo-gallery-block">
                <a title="Il sito ufficiale di android" href="https://www.android.com/intl/it_it/" target="_blank" rel="noopener">
                    <div class="logo-outline">
                        <img src="~/images/logos/logo-android.png" asp-append-version="true" alt="Il logo di Android" />
                    </div>
                    <span class="logo-gallery-name">Android</span>
                </a>
            </div>

        </div>

    </div>
</section>

<section class="white-section">
    <div class="section-content">

        <h2>Sviluppo App Android</h2>
        <h3>come Invoice Maker - Quick & Easy</h3>
        <div class="header-separator"></div>

        <div class="logo-outline intermediate-article-image vertical-image-small left-image show-on-scroll">
            <img class="image-with-outline-white" src="~/images/logos/logo-invoice-maker-quick-easy.png" alt="Il logo di Invoice Maker - Quick & Easy" title="Invoice Maker - Quick & Easy logo" asp-append-version="true" />
        </div>

        <p>
            <b>Invoice Maker - Quick & Easy</b> è un'App Android sviluppata per creare <b>fatture, ricevute e preventivi</b> belli e professionali. È stata pensata per i freelance, in particolare per quelli del mondo anglosassone.
        </p>

        <p>
            Nel progettarla e realizzarla ho seguito uno studio preciso della <i>User Experience</i> e della <i>User Interface</i> al fine di renderla il più possibile <b>intuitiva e gradevole</b>.
        </p>

        <br />

        <a asp-controller="Applications" asp-action="InvoiceMaker" class="action-button">Scopri di più</a>

    </div>
</section>

<section class="alt-section">
    <div class="section-content">

        <h2 class="open-source-home-section">Partecipo attivamente<br /> al mondo dell'open source</h2>

        <div class="logo-gallery opensource-logos">

            <div class="logo-gallery-block">
                <a asp-controller="OpenSourceProjects" asp-action="Boolli" title="Boolli: interprete di espressioni booleane">
                    <div class="logo-outline">
                        <img src="~/images/logos/logo-boolli.png" asp-append-version="true" alt="Il logo dell'applicazione open source Boolli" />
                    </div>
                    <span class="logo-gallery-name">Boolli</span>
                </a>
            </div>

            <div class="logo-gallery-block">
                <a asp-controller="OpenSourceProjects" asp-action="Infart" title="INFART è un gioco CORRI E SCOREGGIA!">
                    <div class="logo-outline">
                        <img src="~/images/logos/logo-infart.png" asp-append-version="true" alt="Il logo del videogioco open source INFART" />
                    </div>
                    <span class="logo-gallery-name">INFART</span>
                </a>
            </div>

            <div class="logo-gallery-block">
                <a asp-controller="OpenSourceProjects" asp-action="Rellow" title="Rellow è un gioco di concentrazione per tutta la famiglia!">
                    <div class="logo-outline">
                        <img src="~/images/logos/logo-rellow.png" asp-append-version="true" alt="Il logo del videogioco open source Rellow" />
                    </div>
                    <span class="logo-gallery-name"><span class="rellow-re">Re</span><span class="rellow-llow">llow</span></span>
                </a>
            </div>

            <div class="logo-gallery-block">
                <a asp-controller="OpenSourceProjects" asp-action="RestartOnCrash" title="L'App crasha? Tagliamo la testa al toro e riavviamola in automatico.">
                    <div class="logo-outline">
                        <img src="~/images/logos/logo-restart-on-crash.png" asp-append-version="true" alt="Il logo dell'applicazione open source RestartOnCrash" />
                    </div>
                    <span class="logo-gallery-name">RestartOnCrash</span>
                </a>
            </div>

            <div class="logo-gallery-block">
                <a asp-controller="OpenSourceProjects" asp-action="SmartScale3000" title="La bilancia intelligente che ha vinto l'Hackaton Hackfork 2020">
                    <div class="logo-outline">
                        <img src="~/images/logos/logo-smart-scale.png" asp-append-version="true" alt="Il logo dell'applicazione open source SmartScale300" />
                    </div>
                    <span class="logo-gallery-name">SmartScale3000</span>
                </a>
            </div>

            <div class="logo-gallery-block">
                <a asp-controller="OpenSourceProjects" asp-action="Starfall" title="Mi ritrovai per una selva oscura...">
                    <div class="logo-outline">
                        <img src="~/images/logos/logo-starfall.png" asp-append-version="true" alt="Il logo del videogioco open source Starfall" />
                    </div>
                    <span class="logo-gallery-name">Starfall</span>
                </a>
            </div>

        </div>

        <p>
            Il mondo dell'open source è meraviglioso proprio perché <b>ognuno può dare il proprio contributo</b> ed aiutare chissà chi nel mondo! Inoltre, ognuno può leggere apertamente il codice delle applicazioni open source che si utilizzano quotidianamente, come <a class="outside-link" href="https://github.com/DrKLO/Telegram" title="Visualizza il codice sorgente del client Android di Telegram" target="_blank" rel="nofollow noopener">il client di Telegram</a> - e verificarne l'implementazione della crittografia <i>end-to-end</i> -, ma anche tutto lo stack <a class="outside-link" href="https://github.com/dotnet/aspnetcore" target="_blank" rel="noopener" title="Visita la pagina GitHub di ASP .NET Core">ASP .NET Core</a>, <a class="outside-link" target="_blank" rel="noopener" title="Guarda il codice sorgente del kernel di Linux" href="https://github.com/torvalds/linux">il kernel di Linux</a>, e tanto altro.
        </p>

        <br />

        <a asp-controller="OpenSourceProjects" asp-action="Index" class="action-button">Guarda i progetti</a>

    </div>
</section>

<section class="white-section">
    <div class="section-content">

        <h2>Scrivo articoli d'informatica</h2>
        <h3>su Medium</h3>
        <div class="header-separator"></div>

        <img class="intermediate-article-image vertical-image left-image show-on-scroll" src="~/images/logos/logo-medium.png" alt="Il logo di Medium" title="Medium logo" asp-append-version="true" />

        <p>
            <a href="https://medium.com/" target="_blank" rel="noopener" class="outside-link" title="Visita Medium">Medium</a> è un'ottima piattaforma per pubblicare articoli rivolti ad una vasta platea. Scrivo al 99% di informatica e tecnologie e sono stato ammesso come <i>writer</i> sulle due pubblicazioni più quotate in ambito <i>tech</i>: <a class="outside-link" href="https://betterprogramming.pub/" target="_blank" rel="noopener" title="Visita la pubblicazione di Medium 'Better Programming'">Better Programming</a> e <a class="outside-link link-dev-genius" href="https://devgenius.io/" target="_blank" rel="noopener" title="Visita la pubblicazione di Medium 'DevGenius'">DevGenius</a>.
        </p>

        <br />

        <a href="https://medium.com/@@fbonizzi.90" class="action-button" rel="noopener" target="_blank">Leggi i miei articoli</a>

    </div>
</section>

<section class="alt-section">
    <div class="section-content centered-section-content">

        <h2 class="companies-title">Ho collaborato con</h2>

        <div class="logo-gallery logo-gallery-collaborations">

            <div class="logo-gallery-block">
                <a target="_blank" href="http://www.consorzioidraulicodeltombone.it/" rel="nofollow noopener" title="Visita il sito del consorzio idraulico del Tombone">
                    <img src="~/images/logos/logo-consorzio-idraulico-tombone.jpg" alt="Il logo dell'azienda per cui ho lavorato Consorzio Idraulico del Tombone" title="Consorzio Idraulico del Tombone" asp-append-version="true" />
                    <span class="logo-gallery-name">Consorzio Idraulico del Tombone</span>
                </a>
            </div>

            <div class="logo-gallery-block">
                <a target="_blank" rel="noopener" href="https://www.esaedro.com/" title="Visita il sito dell'azienda Esaedro S.r.l.">
                    <img src="~/images/logos/logo-esaedro.jpg" alt="Il logo dell'azienda per cui ho lavorato Esaedro" title="Esaedro S.r.l." asp-append-version="true" />
                    <span class="logo-gallery-name">Esaedro S.r.l.</span>
                </a>
            </div>

            <div class="logo-gallery-block">
                <a target="_blank" rel="noopener" href="https://www.fomsoftware.com/it" title="Visita il sito dell'azienda FST S.r.l.">
                    <img src="~/images/logos/logo-fst.jpg" alt="Il logo dell'azienda per cui ho lavorato FST" title="FST S.r.l." asp-append-version="true" />
                    <span class="logo-gallery-name">FST S.r.l.</span>
                </a>
            </div>

            <div class="logo-gallery-block">
                <a target="_blank" rel="noopener" href="https://www.gruppoinfor.it/" title="Visita il sito dell'azienda Infor S.r.l.">
                    <img src="~/images/logos/logo-infor.jpg" alt="Il logo dell'azienda per cui ho lavorato Infor Srl" title="Infor S.r.l." asp-append-version="true" />
                    <span class="logo-gallery-name">Infor S.r.l.</span>
                </a>
            </div>

            <div class="logo-gallery-block">
                <a target="_blank" rel="noopener" href="https://www.isolutions.it/" title="Visita il sito dell'azienda iSolutions S.r.l.">
                    <img src="~/images/logos/logo-isolutions.jpg" alt="Il logo dell'azienda per cui ho lavorato iSolutions" title="iSolutions S.r.l." asp-append-version="true" />
                    <span class="logo-gallery-name">iSolutions S.r.l.</span>
                </a>
            </div>

            <div class="logo-gallery-block">
                <img src="~/images/logos/logo-serravalle-energia.jpg" alt="Il logo dell'azienda per cui ho lavorato Serravalle Energia" title="Serravalle Energia S.r.l." asp-append-version="true" />
                <span class="logo-gallery-name">Serravalle Energia S.r.l.</span>
            </div>

            <div class="logo-gallery-block">
                <a target="_blank" rel="noopener" href="https://www.upwork.com/freelancers/~01372f20ca9ad2abc5" title="Visita il mio profilo su Upwork">
                    <img src="~/images/logos/logo-upwork.jpg" alt="Il logo dell'azienda per cui ho lavorato Upwork" title="Upwork® Global Inc." asp-append-version="true" />
                    <span class="logo-gallery-name">Upwork® Global Inc.</span>
                </a>
            </div>

            <div class="logo-gallery-block">
                <img src="~/images/logos/logo-tncr-editorial-engineering.jpg" alt="Il logo dell'azienda per cui ho lavorato TNCR Editorial Engineering" title="TNCR Editori@l Engineering" asp-append-version="true" />
                <span class="logo-gallery-name">TNCR Editori@l Engineering</span>
            </div>

            <div class="logo-gallery-block">
                <img src="~/images/logos/logo-pnc-nicola-paini.jpg" alt="Il logo dell'azienda per lo studio di architettura PNC Nicola Paini" title="PNC Nicola Paini" asp-append-version="true" />
                <span class="logo-gallery-name">Studio d'architettura PNC</span>
            </div>

        </div>

    </div>
</section>

<section class="white-section">
    <div class="section-content">

        <h2>I miei valori</h2>
        <div class="space-for-article-without-subtitle"></div>
        <div class="header-separator"></div>

        <p>
            Come sviluppatore software ed essere umano <b>non posso esimermi dall'avere una direzione morale.</b>
        </p>

        <p>
            Amo la terra, l'aria che respiro, l'idea che sta alla base della società e nutro un rispetto innato per tutti gli animali, esseri umani compresi. Cerco costantemente di migliorare la mia esistenza come uomo e quella della mia famiglia in relazione al circostante.
        </p>

        <br />

        <a href="mission-valori" class="action-button">Conosci i miei valori</a>

    </div>
</section>
