@model SitemapViewModel
@{
    var routeName = ViewContext.ActionDescriptor.AttributeRouteInfo.Name;
    ViewData["Title"] = "Mappa del sito";
    ViewData["MetaDescription"] = "Guida galattica per websurfisti: la mappa del sito di Imagine Software per orientarti meglio.";
}

<div class="inner-header">
    <h1>@routeName</h1>
    <hr class="menu-separator" />
    <h3>Guida galattica per websurfisti</h3>
</div>

<partial name="_OnePageFromHomeBreadcrumbs" model="new { ThisPageRouteName = @routeName }" />

<section class="common-section sitemap-section">
    @foreach (var section in Model.Routes)
    {
        <ul class="sitemap-group">
            @foreach (var page in section.Value)
            {
                <li>
                    <a class="sitemap-link @if (page.IsIndexPage) { <text>sitemap-group-title</text> }"
                       title="Visita la pagina @(page.Name)"
                       href="@(page.Url)">@(page.Name)</a>
                </li>
            }
        </ul>
    }
</section>